<label>{{widget.label}}</label>
{{widget.value}}

<div class="cms-upload-dropzone">
  <strong>Drop an image</strong> to upload<br>
  (or click)
  {{cms-file-field value=uploads multiple=false accept="image/jpeg,image/gif,image/png,image/svg+xml"  action="fileUpload"}}
</div>