<label>{{widget.label}}</label>
<div class="cms-upload-dropzone">
  <strong>Drop an image</strong> to upload<br>
  (or click)
  {{cms-file-field value=uploads multiple=false accept="image/jpeg,image/gif,image/png,image/svg+xml"  action="fileUpload"}}
</div>
<div>
  <strong>Current:</strong>
  {{#if widget.value }}{{widget.value}}{{else}}no image selected{{/if}}
</div>
