<div class="cms cms-upload-dropzone">
  <strong class="cms cms-strong cms-text">Insert {{widget.label}}</strong>
  {{cms-file-field value=uploads multiple=false accept="image/jpeg,image/gif,image/png,image/svg+xml"  action="fileUpload"}}
</div>
