{{#cms-sortable-list items=widget.items action="reorder" as |item| }}
  {{#each widget in item.widgets}}
    <div class=":widget widget.dirtyAndInvalid:cms-invalid">
      <div class="cms form-control">
        {{cms-widget widget=widget type="control"}}
      </div>
    </div>
  {{/each}}
{{/cms-sortable-list}}
<div class="cms cms-list-controls">
  <a class="cms cms-action" {{action 'addItem'}}>{{widget.addLabel}}</a>
</div>
