{{#cms-sortable-list items=widget.items action="reorder" as |item| }}
  {{#each item.widgets as |widget|}}
    <div class="cms cms-widget">
      <div class="cms cms-control">
        <label class="cms cms-label cms-text">{{widget.label}}</label>
        {{cms-widget widget=widget type="control"}}
      </div>
    </div>
  {{/each}}
{{/cms-sortable-list}}
<div class="cms cms-list-controls cms-text">
  <a class="cms cms-new-link" {{action 'addItem'}}>
    <i class="cms cms-icon-create"></i> New
  </a>
</div>
