<ul class="cms-list-preview">
{{#each widget.items as |item|}}
  <li class="cms-list-item-preview widget">
  {{#each item.widgets as |widget|}}
    {{cms-widget widget=widget type="preview"}}
  {{/each}}
  </li>
{{/each}}
</ul>
