<label>{{widget.label}}</label>
<p class="cms-warn">No control component for "{{widget.type}}" widgets</p>
<p class="cms-warn">Add a template called "cms/components/widgets/{{widget.type}}-control</p>