<li class="cms cms-list-entry">
  {{#link-to "edit" entry class="cms cms-list-entry-link"}}
    <h3 class="cms cms-entry-title">{{entry.title}}</h3>
    <div class="cms cms-entry-excerpt">
      {{entry.cmsExcerpt}}
    </div>
  {{/link-to}}
</li>
