<div {{bind-attr class=":cms-widget widget.dirtyAndInvalid:cms-invalid"}}>
  <div class="cms-control">
    {{cms-widget-control widget=widget}}
  </div>
  <div class="cms-preview">
    {{cms-widget-preview widget=widget}}
  </div>
</div>