<div {{bind-attr class=":widget widget.dirtyAndInvalid:cms-invalid"}}>
  <div class="form-control">
    {{cms-widget-control-resolver widget=widget}}
  </div>
  <div class="preview">
    {{cms-widget-preview widget=widget}}
  </div>
</div>