{{ partial "header" . }}

<div class="community page">
  <section class="community hero">
    <div class="contained">

      <div class="hero-copy">
        <h1 class="headline">{{ .Params.headline | markdownify }}</h1>
        <h2 class="subhead">{{ .Params.subhead | markdownify }}</h2>
        <h3 class="ctas"><ul><li>{{ .Params.primarycta | markdownify }}</li></ul></h3>
      </div>

      <div class="calendar-cta">
        <h2>{{ .Params.upcomingevent.hook }}</h2>
        <div class="calendar">
          <div class="month"></div>
          <div class="day"></div>
        </div>
        <h3><strong></strong> at <strong></strong></h3>
        <div class="cal-cta">{{ .Params.primarycta | markdownify }}</div>
      </div>

    </div>
  </section>

  <section class="how-it-works clearfix">
    <div class="contained">
      <div class="half">
        <h4 class="section-label">How it works</h4>
        <p>{{ .Params.howitworks | markdownify }}</p>
        <h4 class="section-label">How to join</h4>
        <p>{{ .Params.howtojoin | markdownify }}</p>
      </div>
    </div>
  </section>
</div>

{{ partial "footer" . }}
