@import "../../UI/theme";

:global(.list-item-dragging) {
  opacity: 0.5;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  padding: 8px;
  border: 0;
  border-radius: var(--borderRadius);
  background-color: var(--controlBGColor);
}

.addButtonIcon {
  font-size: 18px;
}

.addButtonText {
  margin-left: 4px;
}

.removeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 0 2px 2px;
  border: 0;
  background: none;
  z-index: 1;
}

.objectLabel {
  border: 2px solid rgba(0,0,0,0.1);
  border-top-width: 28px;
  border-radius: var(--borderRadius);
  border-top-left-radius: 0;
  margin-bottom: 20px;
  padding: 20px;
  display: none;
}

.repeatedComponent {
  display: block;
  border-top: 28px solid rgba(0,0,0,0.1);
  border-top-left-radius: 0;
}

.expanded {
}

.collapsed {
  & .objectLabel {
    display: block;
  }
  & .objectControl {
    display: none;
  }
}

.dragIcon {
  position: absolute;
  top: 2px;
  display: block;
  width: 100%;
  text-align: center;
}
