.root {
  position: relative;
}

.editorControlBar {
  composes: editorControlBar from "../VisualEditor/index.css";
}

.dragging { }

.shim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  border: 2px dashed #aaa;
  background: rgba(0,0,0,0.2);
}

.dragging .shim {
  z-index: 1000;
  display: block;
  pointer-events: none;
}
