.Toolbar {
  position: absolute;
  z-index: 1000;
  display: none;
  margin: none;
  padding: none;
  box-shadow: 1px 1px 5px;
  list-style: none;
}

.Button {
  display: inline-block;

  & button {
    padding: 5px;
    border: none;
    border-right: 1px solid #eee;
    background: #fff;
  }
}

.Button:last-child button {
  border-right: none;
}

.Visible {
  display: block;
}
