.nc-rawEditor-rawWrapper {
  position: relative;
}

.nc-rawEditor-rawEditor {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  min-height: var(--richTextEditorMinHeight);
  font-family: var(--fontFamilyMono);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  margin-top: calc(-1 * var(--stickyDistanceBottom));
}
