@import '../UI/theme';

.root {
  flex: 1;
  background-color: var(--backgroundAltColor);
}

.inputField {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 24px;
  padding: 10px 14px;
  border: 0;
  border-radius: var(--borderRadius);
  box-shadow: none;
  outline: none;
  font-size: 14px;
}
