@import '../UI/theme';

.root {
  flex: 1;
  background-color: var(--backgroundAltColor);
}

.inputField {
  width: 80%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  padding: 10px 14px;
  border: 0;
  border-radius: var(--borderRadius);
  box-shadow: none;
  outline: none;
  font-size: 18px;
}
