@import '../UI/theme.css';

:root {
  --highlightColor: #38ab9b;
  --defaultFontSize: 1em;
}

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1 33%;
  margin: -10px;
  margin-top: 24px;
  padding: 10px;
  max-width: 33%;
  transition: background-color .5s ease;
}

.columnHovered {
  composes: column;
  border: 2px dashed var(--highlightColor);
  border-radius: 4px;
}

.columnHeading {
  font-size: var(--defaultFontSize);
}

.draggable {
  cursor: move;
}

.card {
  margin-bottom: 10px;
}

/* Gross stuff below, React Toolbox hacks */

.cardTitle h5 {
  color: var(--backgroundAltColor) !important;
  font-weight: 500 !important;
  font-size: 21px !important;
}
