:root {
  --highlightColor: #38ab9b;
  --defaultFontSize: 1em;
}

.nc-unpublishedListing-container {
  display: flex;
  justify-content: space-between;
}

.nc-unpublishedListing-column {
  flex: 1 33%;
  margin: -10px;
  margin-top: 24px;
  padding: 10px;
  max-width: 33%;
  transition: background-color .5s ease;
}

.nc-unpublishedListing-columnHovered {
  /* composes: unpublishedListing--column; */
  border: 2px dashed var(--highlightColor);
  border-radius: 4px;
}

.nc-unpublishedListing-columnHeading {
  font-size: var(--defaultFontSize);
}

.nc-unpublishedListing-draggable {
  cursor: move;
}

.nc-unpublishedListing-card {
  margin-bottom: 10px;
}

/* Gross stuff below, React Toolbox hacks */

.nc-unpublishedListing-cardTitle h5 {
  color: var(--backgroundAltColor) !important;
  font-weight: 500 !important;
  font-size: 21px !important;
}
