body.ember-application {
  .cms-sidebar-top, .cms-sidebar-content {
    background: #fff;
  }
  .cms-navbar-bottom {
    background: #fff;
  }
  .cms-control label {
    color: $color-text-light;
  }
}
