body.ember-application {
  .cms-wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  .cms-main {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.03s ease-in-out;
  }
  .cms-sidebar {
    display: flex;
    flex-direction: column;
    width: $sidebar_width;
    transition: transform 0.03s ease-in-out;
  }
  .cms-show-sidebar {
    .cms-main, .cms-sidebar {
      transform: translateX(-$sidebar_width);
    }
  }

  .cms-navbar-top, .cms-sidebar-top {
    height: $navbar_top_height;
    flex-shrink: 0;
    padding: $container_padding 2*$container_padding;
  }
  .cms-navbar-top {
    height: $navbar_top_height;
    line-height: $navbar_top_height - 2*$container_padding;
    .cms-nav-link {
      height: $navbar_top_height - 2;
    }
    .cms-icon {
      font-size: 20px;
      position: relative;
      top: 3px;
      margin-right: $container_padding/2;
    }
    &.cms-login {
      .cms-breadcrumb, .cms-right-menu {
        display: none;
      }
    }
  }
  .cms-content, .cms-sidebar-content {
    flex-grow: 1;
    overflow: auto;
    height: 100%;
  }
  .cms-navbar-bottom, .cms-sidebar-bottom, .cms-actionbar {
    height: $navbar_bottom_height;
    flex-shrink: 0;
    padding: $container_padding 2*$container_padding;
  }
  .cms-sidebar-top, .cms-sidebar-bottom, .cms-sidebar-content {
    width: $sidebar_width;
    padding: $container_padding 2*$container_padding;
  }

  .cms-actionbar {
    margin-bottom: -$navbar_bottom_height;
    transition: margin 0.03s ease-in-out;
  }
  .cms-actionbar.cms-open {
    margin-bottom: 0;
  }
  .cms-sidebar-title {
    margin: 0;
  }
  .cms-logo {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 2*$container_padding;
  }
  .cms-left-menu {
    float: left;
    width: 50%;
    min-height: 1px;
  }
  .cms-right-menu {
    float: left;
    width: 50%;
    text-align: right;
  }
  .cms-inline-list {
    list-style: none;
    padding: 0;
    margin: 0;
    > .cms-li {
      display: inline-block;
    }
  }
  .cms-has-dropdown {
    position: relative;
  }
  .cms-dropdown {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
    top: $navbar_top_height - $container_padding;
    z-index: 2;
    transition: transform 0.03s ease-in-out;
    //transform: scaleY(0) translateY(-50%);
    transform: translateY(-50%) scaleY(0);
  }
  .cms-dropdown.cms-open {
    //transform: scaleY(1) translateY(0%);
    transform: translateY(0%) scaleY(1);
  }
  .cms-dropdown-li {
    margin: 0;
    padding: 0;
    display: block;
  }
  .cms-dropdown-link {
    display: block;
    padding: 20px 40px 0;
    margin: 0;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
  }
  .cms-dropdown-li:last-child .cms-dropdown-link {
    padding-bottom: 20px;
  }

  .cms-container {
    display: flex;
    height: 100%;
  }
  .cms-container.cms-center {
    align-items: center;
    justify-content: center;
  }
  .cms-aside {
    width: $aside_width;
    flex-shrink: 0;
    padding: $container_padding 2*$container_padding;
  }
  .cms-nav-menu {
    list-style: none;
    padding: 0;
    margin: $container_padding 0;
  }
  .cms-list-header {
    max-width: 800px;
    margin: 0 auto;

  }
  .cms-list {
    max-width: 800px;
    margin: 0 auto;
    padding: $container_padding 2*$container_padding $container_padding 0;
    flex-grow: 1;
    list-style: none;
  }

  .cms-list-entry {
    padding: 0;
    margin-bottom: $container_padding*2;
    overflow: hidden;
  }

  .cms-list-entry-link {
    display: block;
    padding: $container_padding 2*$container_padding;
    > *:first-child {
      margin-top: 0;
    }
  }

  .cms-list-entry-actions, .cms-list-entry-footer {
    padding: $container_padding 2*$container_padding;
    height: 62px;
  }

  .cms-list-entry-actions {
    margin-bottom: -62px;
    transition: margin 0.1s ease-in-out;
  }
  .cms-list-entry-actions.cms-open {
    margin-bottom: 0;
  }

  .cms-entry-editor {
    display: flex;
  }
  .cms-control-pane, .cms-preview-pane {
    width: 50%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
  }
  .cms-preview-pane {
    padding: 0 $container_padding*2 0 $container_padding;
    img {
      max-width: 100%;
    }
  }

  .cms-control {
    position: relative;
    padding: $container_padding $container_padding $container_padding 2*$container_padding;
  }

  .cms-message-box {
    padding: 2*$container_padding;
  }

  .cms-login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  .cms-login-modal.cms-open {
    display: block;
  }
}
