body.ember-application {
  .cms-control, .cms-aside {
    background: $color-bg-light;
    color: $color-text-normal;
  }

  .cms-navbar-top {
    background: $color-dark;
    color: $color-lightest;
    text-transform: uppercase;
    font-size: 14px;
    .cms-dropdown {
      background: $color-dark;
      &:after {
        content: "";
        position: absolute;
        top: -2px;
        left: 50%;
        width: 0;
      	height: 0;
      	border-left: 8px solid transparent;
      	border-right: 8px solid transparent;
      	border-top: 8px solid $color-highlight;
        margin-left: -8px;
      }
    }
    .cms-dropdown-link {
      color: #fff;
    }
  }
  .cms-nav-link {
    text-decoration: none;
    color: $color-lightest;
    padding: $container-padding $container-padding*2;
    border-right: 1px solid #000;
    display: inline-block;
    margin: -$container-padding 0
  }
  .cms-li:last-child .cms-nav-link {
    border-right: none;
  }
  .cms-breadcrumb {
    color: $color-lightest;
    text-decoration: none;
  }
  .cms-breadcrumb-separator {
    color: $color-highlight;
  }
  .cms-collection {
    margin-bottom: $container-padding;
  }
  .cms-aside-link {
    color: $color-text-normal;
    text-decoration: none;
    .cms-icon {
      visibility: hidden;
      margin-right: $container-padding/2;
    }
    &.active {
      color: $color-highlight;
      .cms-icon {
        visibility: visible;
      }
    }
  }
  .cms-aside-new-link {
    float: right;
  }
  .cms-aside-new-link, .cms-new-link {
    text-decoration: none;
    color: darken($color-text-normal, 5%);
    text-transform: uppercase;
    font-size: 10px;
    vertical-align: bottom;
    line-height: 15px;
    &:hover {
      color: $color-highlight;
    }

    .cms-icon-create {
      font-size: 15px;
      margin-right: 4px;
      position: relative;
      top: 2px;
    }
  }
  .cms-list-entry {
    border: 1px solid $color_muted;
  }
  .cms-list-header, .cms-message-title {
    color: $color-highlight;
    border-bottom: 1px solid $color-highlight;
    margin: 30px auto 25px;
    padding-bottom: 15px;
    font-size: 25px;
  }
  .cms-message-title {
    margin-top: 0;
  }
  .cms-login-button {
    display: block;
    margin-top: 2*$container-padding;
    background: $color-bg-highlight;
    padding: $container-padding;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  .cms-list {
    padding: 0;
  }
  .cms-list-entry-link {
    text-decoration: none;
    color: $color-text-dark;
  }
  .cms-list-entry-footer {
    background: $color-bg-light;
  }
  .cms-list-entry-actions {
    background: $color-bg-highlight;
  }

  .cms-entry-title {

  }

  .cms-message {
    font-size: 14px;
    color: $color-text-normal;
  }

  .cms-link.cms-save-btn, .cms-link.cms-settings-btn {
    margin-top: -$container-padding/2;
    border: 1px solid $color-highlight;
    padding: 3px $container-padding;
    font-size: 12px;
    line-height: 18px;
    .cms-icon {
      font-size: 16px;
      color: $color-highlight;
      position: relative;
      top: 2px;
      margin: 0 $container-padding/2 0 (-$container-padding/2);
    }
  }

  .cms-link, .cms-action {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-text-normal;
    font-size: 14px;
    margin-right: $container-padding;
    &:hover {
      color: $color-highlight;
    }
  }
  .cms-action {
    font-size: 12px;
    &:before {
      content: "";
      display: inline-block;
      border: 1px solid $color-text-normal;
      border-radius: 100%;
      width: 0.5em;
      height: 0.5em;
      margin-right: 5px;
    }
    &:hover:before {
      border-color: $color-highlight;
    }
  }
  .cms-navbar-bottom {
    position: relative;
    .cms-loading-indicator, .cms-loading-indicator-inner {
      border: 1px solid $color-highlight;
    }
    .cms-loading-indicator {
      width: $container-padding;
      height: $container-padding;
      position: absolute;
      top: $container-padding;
      left: 50%;
      margin-left: -($container-padding/2);
      &.cms-loading {
        animation: spin 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0s infinite;
        .cms-loading-indicator-inner {
          animation: spin 2s cubic-bezier(0.455, 0.030, 0.515, 0.955)  0s infinite;
        }
      }
    }
    .cms-loading-indicator-inner {
      width: $container-padding - 6;
      height: $container-padding - 6;
      margin: 2px;
    }
  }

  .cms-sidebar-title {
    color: $color-text-normal;
  }
  .cms-meta, .cms-login {
    margin-bottom: $container-padding;
    .cms-label {
      font-weight: normal;
      color: $color-text-normal;
      font-size: 14px;
      margin-bottom: 5px;
    }

    input:not([type='checkbox']), textarea {
      box-sizing: border-box;
      width: 220px;
      padding: 7px;
      border: 1px solid #ddd;
      box-shadow: none;
      color: $color-text-normal;
    }

    .cms-datetime {
      overflow: hidden;
      input.cms-datetime-date {
        float: left;
        width: 110px;
        margin-right: 10px;
      }
      input.cms-datetime-time {
        float: left;
        width: 100px;
      }
    }
  }
  .cms-login .cms-label {
    display: none;
  }
  .cms-login .cms-login-control {
    margin-bottom: $container-padding;
  }
  .cms-login input.cms-input {
    width: 20em;
  }
  .cms-login .cms-login-error {
    width: 20em;
    margin-bottom: $container-padding;
  }
}
