body.ember-application {
  .cms-text {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: 200;
    text-decoration: none;
    font-style: normal;
  }
  .cms-control {
    input:not([type="checkbox"]), textarea {
      font-size: $font_size;
      color: $color-text-normal;
    }
  }
}
