// Typography
$font_size: 18px;
$font_family: "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
$font_family_forms: monospace;

// width and spacing
$navbar_top_height: 60px;
$navbar_bottom_height: 60px;
$sidebar_width: 300px;
$aside_width: 300px;
$container_padding: 20px;

// Colors
$color_muted: #666;
$color_light: #ddd;
