@import "pikaday";

body.ember-application {
  .cms-upload-dropzone {
    position: relative;
    overflow: hidden;
    border: 1px dashed $color_muted;
    background: #fff;
    padding: $container_padding * 5;
    color: $color_light;
    text-align: center;
    &:hover {
      color: $color_highlight;
    }
    .cms-icon {
      position: relative;
      top: 3px;
      margin-left: 10px;
    }
    input[type="file"] {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 200px;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
  .cms-upload-value {
    margin-top: $container_padding;
    .cms-icon {
      float: right;
      margin-top: 8px;
      font-size: 12px;
      color: $color-bg-highlight;
    }
  }

  .cms-datetime {
    input.cms-datetime-date, input.cms-datetime-time {
      display: inline-block;
    }
    input.cms-datetime-date {
      width: 6em;
    }
    input.cms-datetime-time {
      width: auto;
    }
  }

  .cms-list-item {
    position: relative;
    border: 1px solid $color_muted;
    margin-bottom: $container_padding;
    cursor: move;

    .cms-list-actions {
      position: absolute;
      top: 18px;
      right: $container_padding;
    }

    .cms-list-icon {
      font-size: 12px;
      color: $color-bg-highlight;
    }

    .cms-icon-drag {
      opacity: 0.3;
      left: 17px;
      position: absolute;
      top: 19px;
      z-index: 1;
    }
    .cms-collapse-control {
      position: absolute;
      z-index: 1;
      top: 14px;
      font-size: 22px;
      color: $color-dark;
      left: -26px;
      opacity: 0.2;
      transform: rotate(90deg);
      transition: all 0.1s ease-in-out;
      &:hover {
        opacity: 0.4;
      }
    }
    &:hover .cms-icon-drag {
      opacity: 0.6;
    }
    &.cms-collapsed {
      .cms-item-container {
        overflow: hidden;
        height: 54px;
      }
      .cms-collapse-control {
        transform: rotate(0);
      }
    }
  }
  .cms-list-placeholder {
    border: 1px dashed $color_muted;
  }
  .cms-list-item.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }

  .ui-timepicker-wrapper {
  	overflow-y: auto;
  	height: 150px;
  	width: 6.5em;
  	background: #fff;
  	border: 1px solid #ddd;
  	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
  	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
  	box-shadow:0 5px 10px rgba(0,0,0,0.2);
  	outline: none;
  	z-index: 10001;
  	margin: 0;
  }

  .ui-timepicker-wrapper.ui-timepicker-with-duration {
  	width: 13em;
  }

  .ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
  .ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
  	width: 11em;
  }

  .ui-timepicker-list {
  	margin: 0;
  	padding: 0;
  	list-style: none;
  }

  .ui-timepicker-duration {
  	margin-left: 5px; color: #888;
  }

  .ui-timepicker-list:hover .ui-timepicker-duration {
  	color: #888;
  }

  .ui-timepicker-list li {
  	padding: 3px 0 3px 5px;
  	cursor: pointer;
  	white-space: nowrap;
  	color: #000;
  	list-style: none;
  	margin: 0;
  }

  .ui-timepicker-list:hover .ui-timepicker-selected {
  	background: #fff; color: #000;
  }

  li.ui-timepicker-selected,
  .ui-timepicker-list li:hover,
  .ui-timepicker-list .ui-timepicker-selected:hover {
  	background: #1980EC; color: #fff;
  }

  li.ui-timepicker-selected .ui-timepicker-duration,
  .ui-timepicker-list li:hover .ui-timepicker-duration {
  	color: #ccc;
  }

  .ui-timepicker-list li.ui-timepicker-disabled,
  .ui-timepicker-list li.ui-timepicker-disabled:hover,
  .ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  	color: #888;
  	cursor: default;
  }

  .ui-timepicker-list li.ui-timepicker-disabled:hover,
  .ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  	background: #f2f2f2;
  }

  .cms-markdown-toolbar {
    position: absolute;
    transform: scale(0);
    transition: transform 0.1s ease-in-out;
    border-radius: 5px;
    background: $color-dark;
    color: #fff;
    padding: 0 7px;
    display: flex;
    margin-top: -30px;
    margin-left: -50px;
    &:after {
      content: " ";
      position: absolute;
      bottom: -6px;
      left: 50%;
      margin-left: -6px;
      display: block;
      width: 0;
    	height: 0;
    	border-left: 6px solid transparent;
    	border-right: 6px solid transparent;
    	border-top: 6px solid $color-dark;
    }
  }
  .cms-toolbar-button {
    text-decoration: none;
    padding: 5px;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
  }
  .cms-markdown-toolbar.cms-open {
    transform: scale(1);
  }
}
