@font-face {
  font-family: Icomoon;
  src: url(data:application/font-woff;base64,d09GRgABAAAAAAosAAsAAAAACeAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIHjmNtYXAAAAFoAAAAhAAAAISpWalMZ2FzcAAAAewAAAAIAAAACAAAABBnbHlmAAAB9AAABggAAAYIntHTA2hlYWQAAAf8AAAANgAAADYEt74NaGhlYQAACDQAAAAkAAAAJAfCA81obXR4AAAIWAAAADAAAAAwIgABjWxvY2EAAAiIAAAAGgAAABoJIggYbWF4cAAACKQAAAAgAAAAIAAQAKJuYW1lAAAIxAAAAUUAAAFFVxmm7nBvc3QAAAoMAAAAIAAAACAAAwAAAAMEAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6mQDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABABwAAAAGAAQAAMACAABACDpy+oK6g/qMuo26lTqYupk//3//wAAAAAAIOnL6grqD+oy6jbqVOpi6mT//f//AAH/4xY5FfsV9xXVFdIVtRWoFacAAwABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAgAM/8wD9AO0AFIAnwAAASImJy4BJy4BNTQ2PwE+ATc+ATMyFhceARceARUUBg8BDgEjIiYnLgE1NDY/AT4BNTQmJy4BJy4BIyIGBw4BDwEOARUUFhceARUUBgcOAQcOASMDIiYnLgEnLgE1NDY/AT4BMzIWFx4BFRQGDwEOARUUFhceARceATMyNjc+AT8BPgE1NCYnLgE1NDY3PgEzMhYXHgEVFAYPAQ4BBw4BIwG4BQoEBQkEIyQkI8ASKBYVMBgYMBUWKBIjJCQjWAgTCgoTCAcICAdYFBUVFAoXDA0bDg4bDQwXCsAUFRUUCAcHCAQJBAUKBbgYMBUWKBIjJCQjWAgTCgoTCAcICAdYFBUVFAoXDA0bDg4bDQwXCsAUFRUUCAcHCAgTCgoTCCMkJCPAEigWFTAYAUQCAgIGAyRaLy9aJMARGgoJCQkJChoRJFovL1okVwgICAgHEwoKFAdYFDQbGzQUCg8FBgUFBgUPCsAUNBsbNBQIEwoKEwgDBgICAv6ICQkKGhEkWi8vWiRXCAgICAcTCgoUB1gUNBsbNBQKDwUGBQUGBQ8KwBQ0Gxs0FAgTCgoTCAcICAckWi8vWiTAERoKCQkAAAEAAP/ABAADwAA8AAABIRE0JicuASsBIgYHDgEVESEiBgcOAR0BFBYXHgEzIREUFhceATsBMjY3PgE1ESEyNjc+AT0BNCYnLgEjA+D+oAUEBQsHwAcLBQQF/qAHCwUEBQUEBQsHAWAFBAULB8AHCwUEBQFgBwsFBAUFBAULBwJAAWAHCwUEBQUEBQsH/qAFBAULB8AHCwUEBf6gBwsFBAUFBAULBwFgBQQFCwfABwsFBAUAAAEAAf/BA/8DvwBsAAAlOAExCQE4ATE+ATc2NCcuAS8BLgEnJiIHDgEHOAExCQE4ATEuAScmIgcOAQ8BDgEHBhQXHgEXOAExCQE4ATEOAQcGFBceAR8BHgEXFjI3PgE3OAExCQE4ATEeARcWMjc+AT8BPgE3NjQnLgEnA/f+yQE3AgQBAgEBBAOTBAgEBQkEAwYC/sn+yQIGAwQJBQQIBJMDBAEBAgEEAgE3/skCBAECAQEEA5MECAQFCQQDBgIBNwE3AgYDBAkFBAgEkwMEAQECAQQCiQE3ATcCBgMECQUECASTAwQBAQIBBAL+yQE3AgQBAgEBBAOTBAgEBQkEAwYC/sn+yQIGAwQJBQQIBJMDBAEBAgEEAgE3/skCBAECAQEEA5MECAQFCQQDBgIAAAABACD/wAPgA6AABgAACQEhESERIQIA/iABIAGAASADoP4g/gACAAAAAQAg/+AD4APAAAYAAAUBIREhESECAAHg/uD+gP7gIAHgAgD+AAAAAAMAAP/ABAADwAAYADEASgAAASIGBw4BFRQWFx4BMzI2Nz4BNTQmJy4BIxEiJicuATU0Njc+ATMyFhceARUUBgcOASMDNDY3PgEzMhYXHgEVFAYHDgEjIiYnLgE1AgBqu0VGUFBGRbtqartFRlBQRkW7alCLNTQ8PDQ1i1BQizU0PDw0NYtQwB4aGkYoKEYaGh4eGhpGKChGGhoeA8BQRkW7amq7RUZQUEZFu2pqu0VGUPyAPDQ1i1BQizU0PDw0NYtQUIs1NDwBgChGGhoeHhoaRigoRhoaHh4aGkYoAAAAAwDAAAADQAOAABsAKwA7AAABPgE3PgE1NCYnLgEjIREhMjY3PgE1NCYnLgEnATMyFhceARUUBgcOASsBERMjETMyFhceARUUBgcOASMCxA4WCAgIKCMjXTX+wAGANV0jIygSEBAuHP68ZRUlDg4QEA4OJRRmn5+fFicODhERDg4nFgHbESYVFS0XNV0jIyj8gCgjI101I0EcHC8QASUUEhEvGhovERIUAQD9gAEAFBIRLxoaLxESFAAAAAABAIAAAAOAA4AACwAAARUjATMVITUzASM1A4CA/sCA/kCAAUCAA4BA/QBAQAMAQAABAAAAAAAAcioDBl8PPPUACwQAAAAAANDMvMgAAAAA0My8yAAA/8AEAAPAAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAAMAAAAAAAAAAAAAAAAAgAAAAQAAAwEAAAABAAAAQQAACAEAAAgBAAAAAQAAMAEAACAAAAAAAAKABQAHgEEAV4B9gIKAh4CjgLsAwQAAAABAAAADACgAAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoANABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoANABjAGkAYwBvAG0AbwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA);
}

body.dragging, body.dragging * {
  cursor: move !important;
}

form {
  label {
    display: block;
  }
  input, textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #333;
    &.ng-touched.ng-invalid {
      box-shadow: 0 0 5px #ED2121;
    }
  }
}
[class^='cms-'] {
  box-sizing: border-box;
}

.cms-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.cms-action {
  cursor: pointer;
}

.cms-main-panel {
  display: block;
  margin: 72px 60px 60px 440px;
  border-left: 1px solid;
  padding-left: 32px;
}

.cms-panel-section {
  margin: 53px 0;
}

.cms-section-title {
  font-size: 18px;
  line-height:1.48;
  margin-top: 0;
  margin-bottom: 27px;
  margin-right: -11px;
}

.cms-collection-title, .cms-entry-title, .cms-action-title {
  font-size: 23px;
}
.cms-subtitle {
  display: block;
  font-size: 80%;
  line-height: 1.57;
}

.cms-pull-left {
  position: relative;
  float: left;
  width: 240px;
  margin-left: -240px;
  left: -64.72px;
  text-align: right;
}

.cms-plain-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.cms-form {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.cms-widget, .cms-form-header {
  display: table-row;
}
.cms-control, .cms-preview, .cms-control-header, .cms-preview-header {
  box-sizing: border-box;
  display: table-cell;
  padding-bottom: 20px;
  vertical-align: top;
  width: 50%;
}
.cms-control, .cms-control-header {
  padding-right: 20px;
  margin-bottom: 20px;
}
.cms-preview, .cms-preview-header {
  padding-left: 20px;
  border-left: 1px solid;
  h1 {
    margin: 0;
  }
  img {
    max-width: 100%;
  }
}

.cms-markdown-label, .cms-markdown-menu {
  float: left;
  width: 50%;
}
.cms-markdown-menu {
  text-align: right;
}
.cms-markdown-body {
  clear: both;
}
.cms-markdown-menu-icon {
  display: inline-block;
  width: 22px;
  line-height: 14px;
  text-align: center;
  padding: 3px;
  margin: 0 0 0 5px;
  text-indent: -9999px;
  overflow: hidden;
  border: 1px solid;
  font-size: 12px;
  position: relative;
  color: inherit;
  box-sizing: border-box;
}
.cms-markdown-menu-icon:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 22px;
  font-family: Icomoon;
  padding: 3px;
  text-indent: 0;
  background: #333;
  color: #fff;
  box-sizing: border-box;
}
.cms-markdown-icon-bold:after {
  content: "\ea62";
}
.cms-markdown-icon-italic:after {
  content: "\ea64";
}
.cms-markdown-icon-link:after {
  content: "\e9cb";
}

.cms-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cms-list-item {
  cursor: move;
  position: relative;
  padding: 20px 20px 20px 20px;
  border: 1px solid;
  .widget {
    display: block;
  }
  .form-control {
    display: block;
    margin: 0;
    width: 100%;
  }
}

.cms-list-ordering {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -24px;
}
.cms-list-icon {
  display: block;
  font-family: Icomoon;
  font-size: 14px;
  color: #bbb;
  &:hover {
    color: #aaa;
  }
  &.remove:after {
    content: "\ea0f";
  }
}
.cms-list-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.cms-list-placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.cms-list-placeholder:before {
  content: "";
  display: block;
  height: 100%;
  margin: 20px 20px 20px 20px;
  background: #efefef;
}

.cms-upload-dropzone {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  border: 1px dashed;
  .cms-file-field {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    opacity: 0;
  }
}

.cms-file {
  width: 83%;
}