@import '../components/UI/theme.css';
.root {
  margin-top: 64px;
}

.sidebar {
  width: 200px;
  background-color: #fff
}
.nav {
  display: block;
  padding: 1rem;

  & .heading {
    border: none;
  }
}

.notifsContainer {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 60px;
  z-index: var(--topmostZindex);
  width: 360px;
  pointer-events: none;
}
