.root {
  width: 350px;

}

.input {
  background: none transparent;
  border: 0 none;
  font-size: inherit;
  outline: none;
  width: 100%;
}

.inputArea {
  border: solid 1px #000;
}

.menu {
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 0;
  overflow: auto;
  width: 350px;
  height: 100px;
}

.command {
  padding: 2px 6px;
  cursor: default;
}

.highlightedCommand {
  color: white;
  background: hsl(200, 50%, 50%);
  padding: 2px 6px;
  cursor: default;
}
