:root {
  --foregroundColor: #222;
  --backgroundColor: #eaeaea;
  --highlightFGColor: #000;
  --highlightBGColor: #d2dee4;
}

.inputArea {
  display: table;
  width: 100%;
  color: var(--foregroundColor);
  border: 1px solid var(--backgroundColor);
}

.inputScope {
  display: table-cell;
  width: 1%;
  padding: 6px 6px 6px 8px;
  color: #767676;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: middle;
  border-right: 1px solid var(--backgroundColor);
}

.inputField {
  display: table-cell;
  width: 99%;
  padding: 6px;
  font-size: 16px;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  outline: none;
  font-size: inherit;
}

.menu {
  display: table;
  width: 100%;
  background: var(--backgroundColor);
  font-size: 13px;
  padding: 10px;
  height: 100%;
}

.suggestions {
  display: table-cell;
  width: 50%;
  padding-right: 10px;
}

.hitory {
  display: table-cell;
  width: 50%;
  padding-left: 10px;
}

.command {
  padding: 6px;
  cursor: default;
}

.command .faded {
  font-weight: lighter;
  color: #555;
}

.highlightedCommand {
  color: var(--highlightFGColor);
  background: var(--highlightBGColor);
  padding: 6px;
  cursor: default;
}

.highlightedCommand .faded {
  font-weight: lighter;
  color: #282c34;
}
