@import '../components/UI/theme.css';

.nc-sidebar-root {
  margin-top: 54px;
}

.nc-sidebar-sidebar {
  padding: 0 16px;
  width: 220px;
  background-color: var(--backgroundAltColor);
  color: var(--defaultColorLight);
}

.nc-sidebar-heading {
  margin-bottom: 8px;
  color: var(--defaultColorLight);
}

.nc-sidebar-nav {
  padding: 0;
}

.nc-sidebar-linkWrapper {
  color: #fff;
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nc-sidebar-:hover {
    background-color: var(--textColor);
  }
}

.nc-sidebar-viewEntriesLink {
  font-size: 18px;
  color: inherit;
  padding: 10px 6px;
  display: block;
  width: 100%;
}

.nc-sidebar-createEntryLink {
  color: inherit;
  padding: 0 6px;
  display: block;
  position: relative;
  top: 2px;
}
