@import '../components/UI/theme';

.root {
  margin-top: 54px;
}

.sidebar {
  padding: 0 16px;
  width: 220px;
  background-color: var(--backgroundAltColor);
  color: var(--defaultColorLight);
}

.heading {
  margin-bottom: 8px;
  color: var(--defaultColorLight);
}

.nav {
  padding: 0;
}

.linkWrapper {
  color: #fff;
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: var(--textColor);
  }
}

.viewEntriesLink {
  font-size: 18px;
  color: inherit;
  padding: 10px 6px;
  display: block;
  width: 100%;
}

.createEntryLink {
  color: inherit;
  padding: 0 6px;
  display: block;
  position: relative;
  top: 2px;
}
