.nc-controlPane-root p {
  font-size: 16px;
}

.nc-controlPane-control {
  color: var(--colorText);
  position: relative;
  margin-top: 14px;

  & input,
  & textarea,
  & select {
    @apply(--input);
    border-top-left-radius: 0;
  }

  & select {
    text-indent: 14px;
    height: 58px;
  }

  &:focus-within > .nc-controlPane-label {
    background-color: var(--colorActive);
    color: #fff;
  }
}

.nc-controlPane-label {
  @apply(--label);
}

.nc-controlPane-labelWithError {
  color: #FF706F;
}

.nc-controlPane-errors {
  list-style-type: none;
  font-size: 10px;
  color: #FF706F;
  margin-bottom: 5px;
}

.nc-objectControl-root {
  & .nc-controlPane-control {
    & label {
      background: none;

      &:before,
      &:after {
        content: none;
      }
    }

    & input,
    & textarea {
      border: 0;
      border-radius: 0;
      border-left: 2px solid var(--textFieldBorderColor);

      &:focus {
        border-color: var(--colorActive);
      }
    }

    &:focus-within > .nc-controlPane-label {
      background-color: transparent;
      color: var(--colorActive);
    }
  }
}
