.nc-controlPane-root p {
  font-size: 16px;
}

.nc-controlPane-control {
  @apply(--labelledInputWrapper);
  position: relative;
  margin-top: 14px;
}

.nc-controlPane-label {
  @apply(--label);
}

.nc-controlPane-labelWithError {
  color: #FF706F;
}

.nc-controlPane-errors {
  list-style-type: none;
  font-size: 10px;
  color: #FF706F;
  margin-bottom: 5px;
}

.nc-objectControl-root {
  & .nc-controlPane-control {
    @apply(--labelledInputWrapperNested);
  }
}
