:root {
  --controlPaneLabel: {
    display: inline-block;
    color: var(--controlLabelColor);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--textFieldBorderColor);
    border: 0;
    border-radius: 3px 3px 0 0;
    padding: 3px 6px 2px;
    margin: 0;
    transition: all var(--transition);
    position: relative;

    /**
     * Faux outside curve into top of input
     */
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -4px;
      height: 100%;
      width: 4px;
      background-color: inherit;
    }

    &:after {
      border-bottom-left-radius: 3px;
      background-color: #fff;
    }
  }

  --controlPaneWidget: {
    display: block;
    width: 100%;
    padding: var(--inputPadding);
    margin: 0;
    border: var(--textFieldBorder);
    border-radius: var(--borderRadius);
    border-top-left-radius: 0;
    outline: 0;
    box-shadow: none;
    background-color: var(--colorInputBackground);
    color: #444a57;
    transition: border-color var(--transition);
    position: relative;
    font-size: 15px;
    line-height: 1.5;
  }
}

.nc-controlPane-root {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 16px;

  & p {
    font-size: 16px;
  }
}

.nc-controlPane-label {
  @apply(--controlPaneLabel);
}

.nc-controlPane-labelActive {
  background-color: var(--colorActive);
  color: var(--colorTextLight);
}

.nc-controlPane-widget {
  @apply(--controlPaneWidget);

  &.nc-controlPane-widgetActive {
    border-color: var(--colorActive);
  }
}

select.nc-controlPane-widget {
  text-indent: 14px;
  height: 58px;
}

.nc-controlPane-labelWithError {
  background-color: var(--colorErrorText);
  color: #fff;
}

.nc-controlPane-widgetError {
  border-color: var(--colorErrorText);
}

.nc-controlPane-errors {
  list-style-type: none;
  font-size: 12px;
  color: var(--colorErrorText);
  margin-bottom: 5px;
  text-align: right;
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  top: 20px;
}
