.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: none;
  margin: 0px;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Static Shape */

.loader::before {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
  border-radius: 500rem;
  content: '';
}

/* Active Shape */

.loader::after {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-width: 0.2em;
  border-style: solid;
  border-color: #767676 transparent transparent;
  border-radius: 500rem;
  box-shadow: 0px 0px 0px 1px transparent;
  content: '';
  animation: loader 0.6s linear;
  animation-iteration-count: infinite;
}

/* Active Animation */

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader::before,
.loader::after {
  margin: 0em 0em 0em -1.14285714rem;
  width: 2.28571429rem;
  height: 2.28571429rem;
}

.text {
  margin-top: 35px;
  width: auto !important;
  height: auto !important;
  color: #767676;
  text-align: center;
}

.active {
  display: block;
}

.disabled {
  display: none;
}

/*Animations*/
.animateItem {
  position: absolute;
  white-space: nowrap;
  transform: translateX(-50%);
}

.enter {
  opacity: 0.01;
}

.enter.enterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.leave {
  opacity: 1;
}

.leave.leaveActive {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
