@import "../../../../UI/theme";

.root {
  position: relative;
}

.editorControlBar {
  composes: editorControlBar from "../VisualEditor/index.css";
}

.editorControlBarSticky {
  composes: editorControlBarSticky from "../VisualEditor/index.css";
}

.textarea {
  overflow: hidden;
  resize: none;
  min-height: var(--richTextEditorMinHeight);
}
