.nc-rawEditor-rawWrapper {
  position: relative;
}

.nc-rawEditor-rawEditor {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  min-height: var(--richTextEditorMinHeight);
  font-family: var(--fontFamilyMono);
}
