@import "../../../../UI/theme";

.root {
  position: relative;
}

.editorControlBar {
  composes: editorControlBar from "../VisualEditor/index.css";
}

.editorControlBarSticky {
  composes: editorControlBarSticky from "../VisualEditor/index.css";
}

.SlateEditor {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  min-height: var(--richTextEditorMinHeight);
  font-family: var(--fontFamilyMono);
}
