{
  "presets": [
    ["env", {
      "modules": false,
      // Remove unneeded shims from `babel-polyfill`
      "useBuiltIns": true,
    }],
    "stage-1",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "lodash",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error"]
    }],
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
