{
  "presets": [
    "react",
    "env",
  ],
  "plugins": [
    ["module-resolver", {
      "root": [
        "./src/components"
      ],
      "alias": {
        "Actions": "./src/actions/",
        "Backends": "./src/backends/",
        "Constants": "./src/constants/",
        "Formats": "./src/formats/",
        "Integrations": "./src/integrations/",
        "Lib": "./src/lib/",
        "Reducers": "./src/reducers/",
        "Redux": "./src/redux/",
        "Routing": "./src/routing/",
        "ValueObjects": "./src/valueObjects/",
      }
    }],
    "inline-svg",
    ["inline-import", {
      "extensions": ["yml"],
    }],
  ],
}
