dist/
bin/
public/
.cache/
packages/decap-cms-backend-github/src/fragmentTypes.js
packages/decap-cms-backend-gitlab/src/AuthenticationPage.js
packages/decap-cms-backend-proxy/src/implementation.ts

/.nx/cache