{
  "extends": ["stylelint-config-standard-scss"],
  "customSyntax": "postcss-styled-syntax",
  "rules": {
    "block-no-empty": null,
    "no-duplicate-selectors": null,
    "no-empty-source": null,
    "no-extra-semicolons": null,
    "declaration-empty-line-before": null,
    "string-quotes": null,
    "selector-class-pattern": null,
    "selector-pseudo-element-colon-notation": null,
    "rule-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "at-rule-empty-line-before": null,
    "alpha-value-notation": null,
    "color-function-notation": null,
    "keyframes-name-pattern": null,
    "value-list-comma-newline-after": null,
    "no-descending-specificity": null,
    "indentation": null,
    "no-empty-first-line": null,
    "no-eol-whitespace": null,
    "no-missing-end-of-source-newline": null,
    "scss/operator-no-unspaced": null,
    "scss/operator-no-newline-after": null,
    "value-keyword-case": null,
    "function-name-case": null,
    "function-whitespace-after": null,
    "selector-max-empty-lines": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": ["$dummyValue"]
      }
    ]
  },
  "ignoreFiles": ["packages/decap-cms-lib-auth/index.d.ts"]
}
