.communitysupport {
  @neat-row;
  background-color: white;
  padding: $xl 0 $large 0;

  @media screen and (min-width: $desktop) {
    h2 {
      text-align: center;
      margin-bottom: $large;
    }
  }

  .community {
    @neat-span-columns 12;

    @media screen and (min-width: $tablet) {
      @neat-span-columns 8;
    }
    @media screen and (min-width: $desktop) {
      @neat-span-columns 6;
    }
  }

  .community-features {
    .feature {
      margin-top: $medium;
    }
  }

  .contributors {
    @neat-span-columns 12;
    margin-top: $medium;

    @media screen and (min-width: $tablet) {
      @neat-span-columns 10;
    }
    @media screen and (min-width: $desktop) {
      @neat-span-columns 5;
      float: right;
    }

    .contributor-list {
      margin-top: 4px;
      img {
        width: 32px;
        margin: 0 4px 4px 0;
        border-radius: 16px;
        transition: 0.1s;
      }
      img:hover {
        transform: scale(1.3);
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25), 0 4px 12px 0 rgba(0,0,0,0.25);
      }
    }

  }
}
