.communitysupport {
  @neat-row;
  background-color: white;
  padding: $large 0 $large 0;

  @media screen and (min-width: $desktop) {
    padding: $xl 0 $large 0;
    h2 {
      text-align: center;
      margin-bottom: $large;
    }
  }

  .community {
    @neat-span-columns 12;

    @media screen and (min-width: $tablet) {
      @neat-span-columns 8;
    }
    @media screen and (min-width: $desktop) {
      @neat-span-columns 6;
    }
  }

  .community-features {
    .feature {
      margin-top: $medium;
    }
  }
}
