.cta {

  @media screen and (min-width: $desktop) {
    position: relative;
    top: -65px;
    width: 880px;
    margin: auto;
  }

  .cta-primary {
    background-color: white;
    padding: $medium $small $medium $small;

    @media screen and (min-width: $tablet) {
      padding: $medium;
    }

    @media screen and (min-width: $desktop) {
      padding: $small $medium $small $medium;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 10px 30px 0 rgba(28,30,30,0.10), 0 3px 9px 0 rgba(28,30,30,0.15);
      border-radius: $largeBorderRadius;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      color: $lightishGrey;
      margin: 0;

      .hook {
        font-weight: $bold;
        color: $darkGrey;
      }
    }

    a {
      color: white;
      text-transform: uppercase;
      font-size: $tiny;
      letter-spacing: 0.5px;
      background-color: $blue;
      background-image: linear-gradient(-180deg, #4A7FDD 0%, #3A69C7 100%);
      box-shadow: 0 4px 12px 0 rgba(68,74,87,0.10), 0 1px 3px 0 rgba(68,74,87,0.20);
      border-radius: $borderRadius;
      padding: 12px 18px 12px 18px;
      transition: .2s;
      display: inline-block;
      margin-top: $tiny;


      @media screen and (min-width: $desktop) {
        flex-shrink: 0;
        margin: 0 0 0 $small;
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px 0 rgba(68,74,87,0.20), 0 1px 3px 0 rgba(68,74,87,0.40);
      }
      &:active {
        transform: scale(0.95);
        box-shadow: none;
      }
    }

  }

}
