.cta {

  @media screen and (min-width: $desktop) {
    position: relative;
    top: -50px;
    width: 880px;
    margin: auto;
  }

  .cta-primary {
    background-color: white;
    padding: $small $medium $small $medium;

    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      box-shadow: 0 10px 30px 0 rgba(28,30,30,0.10), 0 3px 9px 0 rgba(28,30,30,0.15);
      border-radius: $largeBorderRadius;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      color: $lightishGrey;

      @media screen and (min-width: $desktop) {
      }

      .hook {
        font-weight: $bold;
        color: $darkGrey;
      }
    }

    a {
      display: inline-block;
      margin-top: $tiny;
      color: white;
      text-transform: uppercase;
      font-size: $tiny;
      background-color: $blue;
      background-image: linear-gradient(-180deg, #4A7FDD 0%, #3A69C7 100%);
      box-shadow: 0 4px 12px 0 rgba(68,74,87,0.10), 0 1px 3px 0 rgba(68,74,87,0.20);
      border-radius: $borderRadius;
      padding: 12px 18px 12px 18px;
      transition: .2s;

      @media screen and (min-width: $desktop) {
        min-width: 122px;
        margin: 0 0 0 $small;
      }

      &:hover {
        margin-right: -4px;
      }
      &:active {
        transform: scale(0.9);
      }
    }

  }

  .cta-secondary {
    font-size: 15px;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: $tiny;
    color: $lightishGrey;
  }

}
