.docs-content,
.blog-content {
  /* font-size: 18px;
  line-height: 28px; */
}

#pencil {
  fill: #7ca511;
}

/* .blog-content h1 {
  margin-bottom: 0;
}

.blog-list-item h2 {
  margin: 48px 0 0;
  line-height: 36px;
} */
