.docs-content,
.blog-content {
  pre {
    margin: 30px -16px !important;
  }

  @media (min-width: $xlarge) {
    pre {
      margin-right: -120px !important;
    }
  }
}
.docs.page,
.blog.page {
  padding: 69px $tiny $xl;
  text-align: left;
  @media screen and (min-width: $mobile) {
    padding: 157px $medium $xl;
  }

  .sidebar {
    @media screen and (min-width: $tablet) {
      @neat-span-columns 6 24;
    }
  }

	.docs-nav {
		display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      height: 100%;
      overflow-y: auto;
    }

    &.mobile {
      display: block;
      position: relative;

      @media screen and (min-width: $tablet) {
        display: none;
      }

      &:after {
        content: " ";
        position: absolute;
        top: 7px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $grey;
        z-index: 3;
      }

      select {
        border: none;
        border-radius: $borderRadius !important;
        cursor: pointer;
        margin: -$medium auto $medium auto;
        width: 100%;
        position: relative;
        padding: 14px 20px;
        z-index: 2;
        outline: none;
        box-shadow: none;
        -webkit-appearance: none;
        -webkit-border-radius: 100px;
      }
    }

    .nav-link,
    .subnav-link {
      display: block;
      font-weight: $regular;
      font-size: $tiny;
      color: $grey;
      line-height: 1.3;
      margin: 10px 0;
      text-decoration: none;
      text-transform: capitalize;
      transition: color .2s ease;

      &.active {
        color: $darkGreen;
        font-weight: $bold;
      }

      &:hover {
        color: $darkGreen;
      }
    }
  }

  .docs-nav-section {
    margin-bottom: 30px;
  }

  .docs-nav-section-list {
    margin: 0;
  }

  .docs-nav-section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .nav-subsections {
    margin: $tiny 0;
    padding: 0 0 0 $tiny;
    border-left: 2px solid $lightestGrey;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
    }

    .subnav-link {
      font-size: 14px;
    }
  }

	h1,
	h2 {
		font-size: 36px;
		line-height: 48px;

		&.intro-headline {
			padding: 0 $small;
			margin-bottom: 86px;
		}
	}

  h2 {
    font-size: $small;
  }

	h3 {
		color: $grey;
		font-size: 20px;
		margin-top: $medium;
    margin-bottom: $small;

		&.inverse {
			color: white;
		}
  }

  .meta-info {
    font-size: $tiny;
  }
  
	table {
		width: 100%;
		text-align: left;
		margin: 34px 0 $medium 0;

		th,
		td {
			padding: $micro;
		}

		th {
			font-size: 18px;
			font-weight: $bold;
		}

		tbody tr {
			&:nth-child(odd) {
				background: #fdfdfd;
			}
		}

		td {
			font-size: 14px;
		}
  }
}


.docs-content,
.blog-content {
  font-size: 18px;
  line-height: 28px;

  .edit-this-page {
    float: right;
  }

  #pencil {
    fill: #7CA511;
  }

  @media screen and (min-width: $tablet) {
    @neat-span-columns 17 24;
    @neat-shift 1 24;
  }

  h2:not(:first-child) {
    margin-top: $medium;
  }
  
  p {
    line-height: 1.7;
  }

  a {
    text-decoration: none;
    color: $darkGreen;
  }

  iframe {
    width: 100%;
  }

  img {
     max-width: 100%;
     height: auto;
   }

  table {
    background: #f7f7f7;
    border-radius: $borderRadius;
  }

  code {
    background: $lightestGrey;
    border-radius: 2px;
    padding: 2px 6px;
    white-space: nowrap;
  }

  pre > code {
    background: initial;
    padding: initial;
    white-space: inherit;
  }
}

.blog-content h1 {
  margin-bottom: 0;
}

.blog-list-item h2 {
  margin: 48px 0 0;
  line-height: 36px;
}