.editors {
  @neat-row;
  margin-top: calc($large * 1.5);
  margin-bottom: $xxl;

  @media screen and (min-width: $desktop) {
    text-align: center;
  }

  h2, p {
    max-width: $desktop;

    @media screen and (min-width: $desktop) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  p#editor-intro {
    max-width: 710px;
  }

  .editors-features {
    display: flex;
    justify-content: space-evenly;
    margin-top: $large;

    @media screen and (max-width: $desktop) {
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: $small;
    }

    .feature {
      max-width: 340px;

      img {
        max-width: 280px;
        margin-bottom: $tiny;
        border-radius: $borderRadius;
        box-shadow: 0 4px 12px 0 rgba(68,74,87,0.10), 0 1px 3px 0 rgba(68,74,87,0.20);
      }

      @media screen and (max-width: $desktop) {
        margin-top: $large;
        margin-right: $medium;
      }

    }
  }
}
