.site-header {
  /* background: transparent; */
  background: $darkerGrey;
  /* box-shadow: none; */
  /* position: absolute; */
  text-align: center;
  transition: background 0.2s ease, padding 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  z-index: 100;

  @media screen and (min-width: $tablet) {
    /* text-align: right;
    position: fixed;
    top: 0;
    left: 0; */
  }

  &.scrolled {
    @media screen and (min-width: $tablet) {
      background: $darkerGrey;
    }
  }

  &.docs,
  &.blog {
    /* background: $darkerGrey; */
    /* padding: $small 0; */

    @media screen and (max-width: $tablet) {
      /* position: static; */
    }
  }
}

.header-inner {
  padding-bottom: 20px;
  padding-top: 20px;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-header.scrolled & {
    @media screen and (min-width: $tablet) {
      /* padding-bottom: $small 0; */
    }
  }
}

/*
  site logo
*/

.site-logo {
  margin-bottom: 10px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.site-logo-link {
  display: inline-block;
  /* margin: 0 auto $tiny auto; */
  /* width: 100%; */

  @media screen and (min-width: $tablet) {
    /* margin: -14px 20px -6px 0; */
    /* width: initial; */
    /* float: left; */
  }
}

/* site docs search (algolia) */

/*
  site nav
*/

.site-nav {
  /* padding-top: $micro; */
}

.site-nav-link {
  color: white;
  display: inline-block;
  /* vertical-align: middle; */

  &:not(:first-child) {
    margin-left: $tiny;
  }

  &:hover {
    color: $green;
  }
}

.gh-button {
  display: inline-block;
  margin-left: $small;
  /* vertical-align: middle; */

  @media screen and (max-width: $mobile) {
    margin-top: $tiny;
  }
}
