.notification {
  background-color: $darkerGrey;
  box-sizing: border-box;
  color: white;
  display: block;
  padding: $tiny $small;
  text-align: center;

  em {
    font-style: normal;
    color: #8b8b8b;
    padding: 0 8px;
  }

  sup,
  sub {
    font-size: initial;
    vertical-align: initial;
  }
}

.notification-loud {
  background-color: $green;
  color: $darkerGrey;
}
