.typography {
  h2:not(:first-child) {
    margin-top: $medium;
  }

  p {
    line-height: 1.7;
  }

  a {
    text-decoration: none;
    color: $darkGreen;
  }

  iframe {
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    margin: 30px -16px !important;
    @media (min-width: $xlarge) {
      margin-right: -120px !important;
    }
  }

  :not(pre) > code {
    color: inherit;
    background: $lightestGrey;
    border-radius: 2px;
    padding: 2px 6px;
    white-space: nowrap;
  }

  h1,
  h2 {
    font-size: 36px;
    line-height: 48px;
  }

  h2 {
    font-size: $small;
  }

  h3 {
    color: $grey;
    font-size: 20px;
    margin-top: $medium;
    margin-bottom: $small;
  }

  table {
    width: 100%;
    text-align: left;
    background: #f7f7f7;
    border-radius: $borderRadius;
    margin: 34px 0 $medium 0;
  }

  th,
  td {
    padding: $micro;
  }

  th {
    font-size: 18px;
    font-weight: $bold;
  }

  tbody tr {
    &:nth-child(odd) {
      background: #fdfdfd;
    }
  }

  td {
    font-size: 14px;
  }
}
