.whatsnew {
  margin-top: -98px;
  padding: 75px 0 $medium 0;
  background-color: $lightishGrey;
  color: white;

  ol {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding-left: 0;
    a {
      color: white;
      font-weight: $regular;
    }
    a:hover {
      padding: 16px 24px 16px 24px;
      margin: -16px -24px -16px -24px;
      background-color: $darkGrey;
      border-radius: $borderRadius;
    }
    a:active {
      background-color: $darkerGrey;
    }
    li {
      min-width: 250px;
      max-width: 350px;
      .update-metadata {
        font-size: 13px;
        color: rgba(255,255,255,0.6);
        display: block;
        margin-bottom: $micro;
        .update-version {
          font-weight: $bold;
          background-color: $shadeBlue;
          color: $darkGrey;
          padding: 0 4px 0 4px;
          margin-right: 8px;
          border-radius: 2px;
        }
      }
      .update-description {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

}
