.nc-icon {
  display: inline-block;

  & path,
  & circle,
  & polygon {
    fill: currentColor;
  }
}

.nc-icon-small {
  width: 18px;
  height: 18px;
}

.nc-icon-medium {
  width: 24px;
  height: 24px;
}
