.nc-icon {
  display: inline-block;
  line-height: 0;

  & > span {
    display: block;
  }

  & path,
  & circle,
  & polygon {
    fill: currentColor;
  }
}

.nc-icon-xsmall svg {
  width: 12px;
  height: 12x;
}

.nc-icon-small svg {
  width: 18px;
  height: 18px;
}

.nc-icon-medium svg {
  width: 24px;
  height: 24px;
}

.nc-icon-large svg {
  width: 32px;
  height: 32px;
}
