.root {
  position: absolute;
  left: -18px;
  display: none;
  width: 100%;
  z-index: 1000;
}

.visible {
  display: block;
}

.button {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #444;
  border-radius: 100%;
  background: transparent;
  line-height: 13px;
}

.expanded {
  display: block;
}

.collapsed {
  display: none;
}

.pluginForm,
.menu {
  margin-top: -20px;
  margin-bottom: 30px;
  margin-left: 20px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 1px 20px;

  & h3 {
    padding: 5px 20px;
    border-bottom: 1px solid;
  }
}

.menu {
  list-style: none;

  & li button {
    display: block;
    padding: 5px 20px;
    min-width: 30%;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    background: #fff;
    -webkit-appearance: none;
  }

  & li:last-child button {
    border-bottom: none;
  }

  & li:hover button {
    background: #efefef;
  }
}

.menu.expanded {
  display: inline-block;
}

.control {
  position: relative;
  padding: 20px 20px;
  color: #7c8382;

  & input,
  & textarea,
  & select {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    outline: 0;
    border: none;
    background: 0 0;
    box-shadow: none;
    color: #7c8382;
    font-size: 18px;
    font-family: monospace;
  }
}

.label {
  display: block;
  margin-bottom: 18px;
  color: #aab0af;
  font-size: 12px;
}

.widget {
  position: relative;
  border-bottom: 1px solid #aaa;

  &:after {
    position: absolute;
    bottom: -7px;
    left: 42px;
    z-index: 1;
    width: 12px;
    height: 12px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: #f2f5f4;
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:last-child {
    border-bottom: none;
  }

  &:last-child:after {
    display: none;
  }
}

.footer {
  padding: 10px 20px;
  border-top: 1px solid #eee;
  background: #fff;
  text-align: right;
}
