@import "../../UI/theme";

.Toolbar {
  z-index: 1000;
  list-style: none;
  display: inline-block;
}

.Button {
  display: inline-block;

  & button {
    padding: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @nest .ButtonActive& {
      background-color: var(--highlightFGAltColor);
    }
  }
}

