.nc-entryEditor-toolbar {
  /*@apply(--dropShadowMain);*/
  /* Putting in a more custom dropshadow until we revert this interface to use the floating cards again. Right now with the overlapping white, I wanted more visual seperation between the white blocks. The third shadow here helps seperate them, reinforcing the overlap effect */
  box-shadow: 0 2px 6px 0 rgba(68, 74, 87, 0.05),
              0 1px 3px 0 rgba(68, 74, 87, 0.10),
              0 2px 54px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  background-color: #fff;
  height: 66px;
  display: flex;
  justify-content: space-between;
}

.nc-entryEditor-toolbar-mainSection,
.nc-entryEditor-toolbar-backSection,
.nc-entryEditor-toolbar-metaSection {
  height: 100%;
  display: flex;
  align-items: center;

}

.nc-entryEditor-toolbar-mainSection {
  flex: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.nc-entryEditor-toolbar-backSection,
.nc-entryEditor-toolbar-metaSection {
  border: 0 solid var(--textFieldBorderColor);
}

.nc-entryEditor-toolbar-backSection {
  border-right-width: 1px;
  font-weight: normal;
  padding: 0 20px;
}

.nc-entryEditor-toolbar-metaSection {
  border-left-width: 1px;
  padding: 0 7px;
}

.nc-entryEditor-toolbar-backArrow {
  color: var(--colorTextLead);
  font-size: 21px;
  font-weight: 600;
  margin-right: 16px;
}

.nc-entryEditor-toolbar-backCollection {
  color: var(--colorTextLead);
  font-size: 14px;
}

.nc-entryEditor-toolbar-backStatus {
  @apply(--textBadgeSuccess);
}

.nc-entryEditor-toolbar-backStatus-hasChanged {
  @apply(--textBadgeDanger);
}

.nc-entryEditor-toolbar-backStatus,
.nc-entryEditor-toolbar-backStatus-hasChanged {
  margin-top: 6px;
}

.nc-entryEditor-toolbar-deleteButton {
  color: #ff003b;
  background-color: #fbe0d7;
  padding-left: 20px;
  padding-right: 20px;
}
