.root {
  position: relative;
  margin: 9px 0 15px 0;
  border: dotted 1px #ddd;
}

.type::after {
  position: absolute;
  top: -7px;
  display: inline;
  margin-left: 1em;
  padding: 0 3px;
  background-color: #fafafa;
  color: #aaa;
  content: attr(data-type);
  font-size: 10px;
  pointer-events: none;
}

.body {
  padding: 8px;
}

.body img {
  max-width: 100%;
  height: auto;
}

.Paragraph {
}

.Heading1,
.Heading2,
.Heading3,
.Heading4,
.Heading5,
.Heading6 {
  margin: 0;
  font-weight: bold;
}

.Heading1 {
  font-size: 1.2em;
}

.Heading2 {
  font-size: 1.15em;
}

.Heading3 {
  font-size: 1.1em;
}

.Heading4 {
  font-size: 1.07em;
}

.Heading5 {
  font-size: 1.05em;
}

.Heading6 {
  font-size: 1.03em;
}

.blockquote {
  padding-left: 5px;
  border-left: solid 3px #ccc;
}

.body ul {
  margin: 0;
  padding-left: 20px;
}
