.active {
  box-shadow: 0 0 0 2px blue;
}

:global .plugin {
  padding: 8px;
  width: 200px;
  border-radius: 2px;
  background-color: #ddd;
  color: #555;
  text-align: center;
}

:global .plugin_icon {
  margin: 12px 0;
  font-size: 50px;
}

:global .plugin_fields {
  outline: none;
  font-size: 11px;
}

:global .active {
  box-shadow: 0 0 0 2px blue;
}
