.nc-listControl {
  @apply(--input);
  padding: 0 14px 14px;

  &.nc-listControl-collapsed {
    padding-bottom: 0;
  }
}

.list-item-dragging {
  opacity: 0.5;
}

.nc-listControl-topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -14px;
  background-color: var(--textFieldBorderColor);
  padding: 13px;
}

.nc-listControl-addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;

  & .nc-icon {
    padding-left: 6px;
  }
}

.nc-listControl-listCollapseToggle {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1;

  & .nc-icon {
    padding-right: 8px;
  }
}

.nc-listControl-toggleButton,
.nc-listControl-dragIcon,
.nc-listControl-removeButton {
  color: var(--controlLabelColor);
  background: transparent;
  font-size: 16px;
  line-height: 1;
  padding: 0;
  width: 32px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nc-listControl-dragIcon {
  width: 100%;
  cursor: move;
}

.nc-listControl-item {
  margin-top: 18px;

  &:first-of-type {
    margin-top: 26px;
  }

  & .nc-controlPane-control {
    & label {
      background: none;
    }

    & input,
    & textarea {
      border: 0;
      border-radius: 0;
      border-left: 2px solid var(--textFieldBorderColor);
    }
  }
}

.nc-listControl-objectLabel {
  @apply(--input);
  display: none;
}

.nc-listControl-objectControl {
  padding-top: 6px;

  & .nc-controlPane-control {
    margin-top: 0;
  }
}

.nc-listControl-objectLabel,
.nc-listControl-objectControl {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nc-listControl-dragHandle {
  display: flex;
  justify-content: space-between;
  background-color: var(--textFieldBorderColor);
  height: 26px;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  position: relative;
}

.nc-listControl-collapsed {
  & .nc-listControl-objectLabel {
    display: block;
  }
  & .nc-listControl-objectControl {
    display: none;
  }
}
