.nc-githubAuthenticationPage-root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nc-githubAuthenticationPage-button {
  padding: .25em 1em;
  height: auto;
}
