@import "../../../UI/theme";

.Toolbar {
  z-index: 1000;
  list-style: none;
  display: inline-block;
}

.Toggle {
  position: absolute;
  top: 0;
  right: 0;

  & button {
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
  }
}
