@import "../../../UI/theme";

.pluginForm {
  position: absolute;
  background-color: var(--backgroundColor);
  margin-top: -20px;
  margin-bottom: 30px;
  margin-left: 20px;
  border: var(--border);
  border-radius: var(--borderRadius);
  box-shadow: var(--dropShadow);
  overflow: hidden;
  z-index: 1;

  /* Nested to override high specificity React Toolbox styles */
  & .header {
    padding: 12px;
    margin: 0;
    color: var(--textColor);
    background-color: var(--backgroundColor);
  }
}

.body {
  padding: 0 12px 16px;
}

.footer {
  background-color: var(--backgroundColor);
  padding: 10px 20px;
  text-align: right;
}
