@import "../../../UI/theme";

.button {
  display: inline-block;
  padding: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.active {
  background-color: var(--highlightFGAltColor);
}
