@import "../../../UI/theme";

.Toolbar {
  composes: clearfix;
  z-index: 1000;
}

.Toggle {
  float: right;

  & button {
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
  }
}
