.nc-controlPane-root {
  padding: 20px 20px 0;
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
  border-radius: var(--borderRadius);
}

.nc-controlPane-root p {
  font-size: 16px;
}

.nc-controlPane-control {
  color: var(--textColor);
  position: relative;
  margin-top: 14px;

  & input,
  & textarea,
  & select {
    @apply --input;
  }
}

.nc-controlPane-label {
  display: inline-block;
  color: var(--controlLabelColor);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #dfdfe3;
  border: 0;
  position: relative;
  top: 6px;
  border-radius: 3px 3px 0 0;
  padding: 3px 8px 8px;

  /**
   * Faux outside curve into top of input
   */
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -4px;
    height: calc(100% - 6px);
    width: 4px;
    background-color: inherit;
  }

  &:after {
    border-bottom-left-radius: 3px;
    background-color: #fff;
  }
}

.nc-controlPane-labelWithError {
  color: #FF706F;
}

.nc-controlPane-errors {
  list-style-type: none;
  font-size: 10px;
  color: #FF706F;
  margin-bottom: 5px;
}
