.nc-controlPane-root p {
  font-size: 16px;
}

.nc-controlPane-control {
  color: var(--textColor);
  position: relative;
  padding: 20px 0 10px 0;
  margin-top: 16px;

  & input,
  & textarea,
  & select,
  & div[contenteditable=true] {
    @apply --input;
  }
}

.nc-controlPane-label {
  display: block;
  color: var(--controlLabelColor);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.nc-controlPane-labelWithError {
  color: #FF706F;
}

.nc-controlPane-errors {
  list-style-type: none;
  font-size: 10px;
  color: #FF706F;
  margin-bottom: 5px;
}
