@import "../UI/theme";

.control {
  color: #7c8382;
  position: relative;
  padding: 20px 0 10px 0;

  & input,
  & textarea,
  & select {
    font-family: monospace;
    display: block;
    width: 100%;
    padding: 12px;
    margin: 0;
    border: none;
    border-radius: var(--borderRadius);
    outline: 0;
    box-shadow: none;
    background-color: var(--controlBGColor);
    font-size: 18px;
    color: #7c8382;
  }
}

.label {
  display: block;
  color: var(--controlLabelColor);
  font-size: 14px;
}

.labelWithError {
  composes: label;
  color: #FF706F;
}

.errors {
  list-style-type: none;
  font-size: 10px;
  color: #FF706F;
  margin-bottom: 5px;
}
