@import '../../../../UI/theme.css';

.nc-visualEditor-editorControlBar {
  z-index: 1;
  border: 2px solid transparent;
  border-top: 0;
  background-color: var(--controlBGColor);
}

.nc-visualEditor-editorControlBarSticky {
  border-color: var(--textFieldBorderColor);
}

.nc-visualEditor-wrapper {
  position: relative;
}

.nc-visualEditor-editor {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  min-height: var(--richTextEditorMinHeight);
  font-family: var(--fontFamily);
}

.nc-visualEditor-editor h1 {
  font-size: 32px;
  margin-top: 16px;
}

.nc-visualEditor-editor h2 {
  font-size: 24px;
  margin-top: 12px;
}

.nc-visualEditor-editor h3 {
  font-size: 20px;
  margin-top: 8px;
}

.nc-visualEditor-editor h4 {
  font-size: 18px;
  margin-top: 8px;
}

.nc-visualEditor-editor h5,
.nc-visualEditor-editor h6 {
  font-size: 16px;
  margin-top: 8px;
}

.nc-visualEditor-editor h1,
.nc-visualEditor-editor h2,
.nc-visualEditor-editor h3,
.nc-visualEditor-editor h4,
.nc-visualEditor-editor h5,
.nc-visualEditor-editor h6 {
  font-weight: 700;
  line-height: 1;
}

.nc-visualEditor-editor p,
.nc-visualEditor-editor pre,
.nc-visualEditor-editor blockquote,
.nc-visualEditor-editor ul,
.nc-visualEditor-editor ol {
  margin-top: 16px;
  margin-bottom: 16px;
}

.nc-visualEditor-editor a {
  text-decoration: underline;
}

.nc-visualEditor-editor hr {
  border: 1px solid;
  margin-bottom: 16px;
}

.nc-visualEditor-editor li > p {
  margin: 0;
}

.nc-visualEditor-editor ul,
.nc-visualEditor-editor ol {
  padding-left: 30px;
}

.nc-visualEditor-editor pre {
  white-space: pre-wrap;
}

.nc-visualEditor-editor pre > code {
  display: block;
  width: 100%;
  overflow-y: auto;
  background-color: #000;
  color: #ccc;
  border-radius: var(--borderRadius);
  padding: 10px;
}

.nc-visualEditor-editor code {
  background-color: var(--backgroundColorShaded);
  border-radius: var(--borderRadius);
  padding: 0 2px;
  font-size: 85%;
}

.nc-visualEditor-editor blockquote {
  padding-left: 16px;
  border-left: 3px solid var(--backgroundColorShaded);
  margin-left: 0;
  margin-right: 0;
}

.nc-visualEditor-editor table {
  border-collapse: collapse;
}

.nc-visualEditor-editor td,
.nc-visualEditor-editor th {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}

.nc-visualEditor-shortcode {
  border: 2px solid black;
  padding: 8px;
  margin: 2px 0;
  cursor: pointer;
}

.nc-visualEditor-shortcodeSelected {
  border-color: var(--primaryColor);
  color: var(--primaryColor);
}
