@import "../UI/theme.css";

.nc-fileControl-input {
  display: none !important;
}

.nc-fileControl-message {
  padding: 20px;
  display: block;
  font-size: 12px;
}

.nc-fileControl-imageUpload {
  background-color: #fff;
  text-align: center;
  color: #999;
  border: var(--border);
  border-style: dashed;
  border-radius: var(--borderRadius);
  cursor: pointer;
}
