@import "../UI/theme.css";

.ncms-fileControlinput {
  display: none !important;
}

.ncms-fileControlmessage {
  padding: 20px;
  display: block;
  font-size: 12px;
}

.ncms-fileControlimageUpload {
  background-color: #fff;
  text-align: center;
  color: #999;
  border: var(--border);
  border-style: dashed;
  border-radius: var(--borderRadius);
  cursor: pointer;
}
