.list-item-dragging {
  opacity: 0.5;
}

.nc-listControl-addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  padding: 8px;
  border: 0;
  border-radius: var(--borderRadius);
  background-color: var(--controlBGColor);
}

.nc-listControl-addButtonIcon {
  font-size: 18px;
}

.nc-listControl-addButtonText {
  margin-left: 4px;
  text-transform: lowercase;
}

.nc-listControl-removeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 0 2px 2px;
  border: 0;
  background: none;
  z-index: 1;
}

.nc-listControl-toggleButton {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 28px;
  border: none;
  border-radius: var(--borderRadius) 0 0 var(--borderRadius);
  background: rgba(0,0,0,0.1);
}

.nc-listControl-item {
  position: relative;
  padding-left: 24px;
}

.nc-listControl-objectLabel {
  border: 2px solid rgba(0,0,0,0.1);
  border-top-width: 28px;
  border-radius: var(--borderRadius);
  border-top-left-radius: 0;
  margin-bottom: 20px;
  padding: 20px;
  display: none;
}

.nc-listControl-objectControl {
  display: block;
  border-top: 28px solid rgba(0,0,0,0.1);
  border-top-left-radius: 0;
}

.nc-listControl-expanded {}

.nc-listControl-collapsed {
  & .nc-listControl-objectLabel {
    display: block;
  }
  & .nc-listControl-objectControl {
    display: none;
  }
}

.nc-listControl-dragIcon {
  cursor: move;
  display: block;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 100%;
  z-index: 1;
}
