<footer>
  <div class="contained">
    <div class="social-buttons">
      {{ range $index, $id := .Site.Data.global.footer.buttons }}
        <a href="{{ .url }}">{{ .name }}</a>
      {{ end }}
    </div>
    <div class="footer-info">
      <p><a href="https://github.com/netlify/netlify-cms/blob/master/LICENSE" class="text-link">Distributed under MIT License</a> ·
      <a href="https://github.com/netlify/netlify-cms/blob/master/CODE_OF_CONDUCT.md" class="text-link">Code of Conduct</a></p>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{{ if or (eq .Section "docs") (eq .Title "Docs") }}
  <script src="/jquery.scrollTo.min.js"></script>
  <script src="/jquery.localScroll.min.js"></script>
  <script src="/prism.js"></script>
{{ end }}
{{ if eq .Title "Community" }}
  <script src="/moment.min.js"></script>
{{ end }}
<script src="/app.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: '08d03dc80862e84c70c5a1e769b13019',
indexName: 'netlifycms',
inputSelector: '.algolia-search',
debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
{{- if eq .Title "Widgets" -}} <!-- Check if is widgets page, if so, add the widget cloud js script -->
  <script src="/widgets.js"></script>
{{- end -}}
<script async defer src="https://buttons.github.io/buttons.js"></script>
{{ if or (eq .Section "docs") (eq .Title "Docs") (eq .Title "Community") }}
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'netlify/NetlifyCMS'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
{{ end }}
</body>
</html>
