@import '../theme.css';

:root {
  --iconSize: 30px;
}

/* redux-notifications override */
:global(.notif__container) {
  z-index: 10000;
}

.root {
  composes: base container rounded depth from '../theme.css';
  overflow: hidden;
  margin: 10px;
  padding: 10px 10px 15px;
  color: var(--defaultColorLight);
}

.icon {
  position: relative;
  top: .15em;
  margin-right: .25em;
  font-size: var(--iconSize);
  line-height: var(--iconSize);
}

.info {
  composes: root;
  background-color: var(--infoColor);
}

.success {
  composes: root;
  background-color: var(--successColor);
}

.warning {
  composes: root;
  background-color: var(--warningColor);
}

.danger {
  composes: root;
  background-color: var(--errorColor);
}
