.nc-entryListing-card {
  flex: 0 300px;
  overflow: hidden;
  margin-bottom: 16px;
  margin-left: 16px;
  max-width: 50%;
  max-height: 290px;
  cursor: pointer;
}

.nc-entryListing-card:hover {
  background: #f8f9fa;
  transform: translateY(-8px);
}

.nc-entryListing-cardImage {
  margin: -16px -24px 16px -24px;
  width: calc(100% + 24px + 24px);
  height: 135px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nc-entryListing-cardsGrid {
  display: flex;
  flex-flow: row wrap;
  margin-left: -16px;
}

.nc-entryListing-cardList {
  margin-bottom: 1.1rem;
}

.nc-entryListing-cardListLabel {
  white-space: nowrap;
  font-weight: bold;
}
