.entryEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.footer {
  z-index: 10;
  padding: 10px 20px;
  height: 45px;
  border-top: 1px solid #e8eae8;
  background: #fff;
}

.controlPane {
  overflow: auto;
  padding: 0 20px;
  max-height: 100%;
  width: 50%;
  border-right: 1px solid #e8eae8;
}

.previewPane {
  width: 50%;
}
