.entryEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  display: flex;
  height: 100%;
}
.footer {
  background: #fff;
  height: 45px;
  border-top: 1px solid #e8eae8;
  padding: 10px 20px;
}
.controlPane {
  width: 50%;
  max-height: 100%;
  overflow: auto;
  padding: 0 20px;
  border-right: 1px solid #e8eae8;
}
.previewPane {
  width: 50%;
}
