.card {
  width: 240px;
  height: 290px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
}

.cardImage {
  width: 240px;
  height: 135px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.cardsGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
