:root {
  --highlightColor: #e1eeea;
  --defaultFontSize: 1em;
}

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1 33%;
  margin: -10px;
  padding: 10px;
  max-width: 33%;
  transition: background-color .5s ease;
}

.columnHovered {
  composes: column;
  background-color: var(--highlightColor);
}

.columnHeading {
  font-size: var(--defaultFontSize);
}

.draggable {
  cursor: move;
}

.card {
  margin-bottom: 10px;
}
