.container {
  display: table;
  width: 100%;
}

.column {
  display: table-cell;
  width: 33%;
  height: 100%;
  text-align: center;
  transition: background-color .5s ease;

  & h2 {
    font-size: 16px;
  }
}

.highlighted {
  background-color: #e1eeea;
}

.column:not(:last-child) {
  padding-right: 20px;
}

.card {
  margin: 7px 0 0 10px;
  padding: 7px 0;
  width: 100% !important;
}

.cardHeading {
  font-size: 17px;

  & small {
    font-weight: normal;
  }
}

.cardText {
  margin-top: 5px;
  color: #555;
  font-size: 12px;
}

.button {
  float: right;
  margin: 10px 10px 0 0;
}

.clear::after {
  display: block;
  clear: both;
  content: '';
}
