<div class="cms cms-container cms-center">
  <div class="cms cms-text cms-message-box">
    <h2 class="cms cms-message-title">CMS Login</h2>

    <div class="cms cms-login-message">
      <p>This is a demo site using your browsers memory to store all content</p>
      <p>You can login by clicking the button below, and try out the Netliy CMS UI</p>
      <p>All changes you make will be reset when you refresh your browser.</p>
    </div>

    <a href="#" class="cms cms-login-button" {{action "authenticate"}}>
      Login Now
    </a>
  </div>
</div>
