.nc-githubAuthenticationPage-root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nc-githubAuthenticationPage-logo {
  color: #c4c6d2;
  margin-top: -300px;
}

.nc-githubAuthenticationPage-button {
  @apply(--button);
  @apply(--dropShadowDeep);
  @apply(--buttonDefault);
  @apply(--buttonGray);

  padding: 0 30px;
  margin-top: -80px;
  display: flex;
  align-items: center;
  position: relative;

  & .nc-icon {
    margin-right: 18px;
  }
}
