.nc-objectControl-root {
  padding: 0 14px 14px;
}

.nc-objectControl-topBar {
  align-items: center;
  background-color: #dfdfe3;
  display: flex;
  justify-content: space-between;
  margin: 0 -14px;
  padding: 13px;
}
