.nc-entryListing-card {
  @apply(--card);
  flex: 0 0 335px;
  overflow: hidden;
  margin-bottom: 16px;
  margin-left: 12px;
  height: 240px;
  cursor: pointer;
}

.nc-entryListing-cardImage {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 135px;
}

.nc-entryListing-cardBody {
  padding: 16px 22px;
  height: 105px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 0;
    left: -20%;
    height: 140%;
    width: 140%;
    box-shadow: inset 0 -15px 24px #fff;
  }
}

.nc-entryListing-cardBody-full {
  height: 100%;
}

.nc-entryListing-cardHeading {
  margin: 0 0 2px;
}

.nc-entryListing-cardListLabel {
  white-space: nowrap;
  font-weight: bold;
}
