.nc-imageControl-input {
  display: none !important;
}

.nc-imageControl-content {
  display: flex;
}

.nc-imageControl-imageUpload {
  @apply(--input);
}

.nc-imageControl-imageWrapper {
  width: 155px;
  height: 100px;
  margin-right: 20px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--borderRadius);
  }
}

.nc-imageControl-filename {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
}

.nc-imageControl-chooseButton,
.nc-imageControl-changeButton {
  @apply(--textBadge);
  display: block;
}

.nc-imageControl-removeButton {
  @apply(--textBadgeDanger);
  display: block;
  margin-top: 12px;
}

.nc-controlPane-control-image,
.nc-controlPane-control-file {
  &:focus-within {
    & .nc-imageControl-imageUpload {
      border-color: var(--primaryColor);
    }
  }
}
