.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 350px;
  padding: 10px;
}

.card img {
  display: block;
  margin: auto;
}

.button {
  padding: .25em 1em;
  height: auto;
}
