@import '../UI/theme';

.dialog {
  height: 80%;
  text-align: center;

  & h1 {
    margin-top: 20px;
    position: absolute;
  }
}

.buttonRight {
  float: right;
  margin-left: 10px;
}

.buttonLeft {
  float: left;
  margin-right: 10px;
}

.footer {
  margin: 24px 0;
  width: calc(100% - 48px);
  position: absolute;
  bottom: 0;
}

.searchInput {
  @apply --input;
  font-family: var(--fontFamilyPrimary);
  width: 50%;
  max-width: 800px;
  margin: 12px auto;
  display: inline-block;
}

/**
 * Focus styles for keyboard navigation
 */
:global(.mediaLibraryRowFocused) {
  background-color: #eee;
}
