@import './MediaLibraryFooter.css';

:root {
  --mediaLibraryCardWidth: 280px;
  --mediaLibraryCardMargin: 10px;
  --mediaLibraryCardOutsideWidth: calc(var(--mediaLibraryCardWidth) + var(--mediaLibraryCardMargin) * 2);
}

.nc-mediaLibrary-dialog {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 0;
  width: calc(var(--mediaLibraryCardOutsideWidth) + 20px);

  @media (width >= 800px) {
    width: calc(var(--mediaLibraryCardOutsideWidth) * 2 + 20px);
  }

  @media (width >= 1120px) {
    width: calc(var(--mediaLibraryCardOutsideWidth) * 3 + 20px);
  }

  @media (width >= 1440px) {
    width: calc(var(--mediaLibraryCardOutsideWidth) * 4 + 20px);
  }

  @media (width >= 1760px) {
    width: calc(var(--mediaLibraryCardOutsideWidth) * 5 + 20px);
  }

  @media (width >= 2080px) {
    width: calc(var(--mediaLibraryCardOutsideWidth) * 6 + 20px);
  }
}

.nc-mediaLibrary-title {
  line-height: 24px;
  position: absolute;

  font-size: 22px;
}

.nc-mediaLibrary-search {
  /*font-family: var(--fontFamilyPrimary);*/
  /*width: 50%;*/
  /*max-width: 800px;*/
  /*margin: 12px auto;*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*z-index: 1;*/

  display: flex;
  align-items: center;
  margin: 0 8px;
  position: relative;

  & input {
    background-color: #eff0f4;
    border-radius: var(--borderRadius);

    font-size: 14px;
    padding: 10px 6px 10px 32px;
    width: 100%;
    position: relative;
    z-index: 1;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--colorBlue);
    }
  }

  & .nc-icon {
    position: absolute;
    left: 6px;
    z-index: 2;
  }
}

.nc-mediaLibrary-emptyMessage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nc-mediaLibrary-cardGrid-container {
  flex-grow: 10;
  overflow-y: auto;
}

.nc-mediaLibrary-cardGrid {
  display: flex;
  flex-wrap: wrap;

  margin-left:  -10px;
  margin-right: -10px;
}

.nc-mediaLibrary-card {
  width: var(--mediaLibraryCardWidth);
  height: 240px;
  margin: var(--mediaLibraryCardMargin);
  border: var(--textFieldBorder);
  border-radius: var(--borderRadius);
  cursor: pointer;
  overflow: hidden;
}

.nc-mediaLibrary-card-selected {
  border-color: var(--colorActive);
}

.nc-mediaLibrary-cardImage {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 2px 2px 0 0;
}

.nc-mediaLibrary-cardText {
  color: var(--colorText);
  padding: 8px;
  margin-top: 20px;
  overflow-wrap: break-word;
  line-height: 1.3 !important;
}

.nc-mediaLibrary-dialogPrivate {
  background-color: var(--colorGrayDark);

  & .nc-mediaLibrary-title,
  & .nc-mediaLibrary-emptyMessage,
  & .nc-mediaLibrary-paginatingMessage,
  & h1 {
    color: var(--textFieldBorderColor);
  }

  & .nc-mediaLibrary-card,
  & .nc-mediaLibrary-searchInput {
    background-color: var(--textFieldBorderColor);
  }

  & button:disabled,
  & label[disabled] {
    background-color: rgba(217, 217, 217, 0.15);
  }
}
