@import '../UI/theme';

.dialog {
  overflow-y: auto;

  & h1 {
    margin-top: 10px;
  }
}

.buttonRight {
  float: right;
  margin-left: 10px;
}

.buttonLeft {
  float: left;
  margin-right: 10px;
}

.footer {
  margin-top: 16px;
}
