@import '../UI/theme.css';

.nc-appHeader-appBar {
  padding: 8px 24px;
  height: auto;
  background-color: var(--backgroundAltColor);
  color: var(--defaultColorLight);
}

/* Gross stuff below, React Toolbox hacks */

.nc-appHeader-homeLink,
.nc-appHeader-iconMenu {
  margin-left: 2%;
}

.nc-appHeader-homeLink &icon {
  vertical-align: top;
}

.nc-appHeader-icon,
.nc-appHeader-icon span,
.nc-appHeader-leftIcon span {
  /* stylelint-disable */

  color: var(--defaultColorLight) !important;
  font-size: 24px !important;

  /* stylelint-enable */
}
