:root {
  --foregroundColor: #3d3d3d;
  --backgroundColor: #f7f9fa;
  --textFieldBorderColor: #e7e7e7;
  --highlightFGColor: #3d3d3d;
  --highlightBGColor: #3ab7a5;
}

.appBar {
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
  & .leftIcon {
    color: var(--foregroundColor) !important;
  }
  & .rightIcon {
    color: var(--foregroundColor) !important;
  }
}

.icon {
  /* stylelint-disable */
  /* Cascade is evil :( */
  color: var(--foregroundColor) !important;

  /* stylelint-enable */
}
