:root {
  --editorToolbarButtonMargin: 0 10px;
}

.nc-entryEditor-toolbar {
  box-shadow: 0 2px 6px 0 rgba(68, 74, 87, 0.05),
              0 1px 3px 0 rgba(68, 74, 87, 0.10),
              0 2px 54px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 800px;
  z-index: 300;
  background-color: #fff;
  height: 66px;
  display: flex;
  justify-content: space-between;
}

.nc-entryEditor-toolbar-mainSection,
.nc-entryEditor-toolbar-backSection,
.nc-entryEditor-toolbar-metaSection {
  height: 100%;
  display: flex;
  align-items: center;

}

.nc-entryEditor-toolbar-mainSection {
  flex: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  & .nc-entryEditor-toolbar-mainSection-left {
    display: flex;
  }
  & .nc-entryEditor-toolbar-mainSection-right {
    display: flex;
    justify-content: flex-end;
  }
}

.nc-entryEditor-toolbar-backSection,
.nc-entryEditor-toolbar-metaSection {
  border: 0 solid var(--textFieldBorderColor);
}

.nc-entryEditor-toolbar-dropdown {
  margin: var(--editorToolbarButtonMargin);

  & .nc-icon {
    color: var(--colorTeal);
  }
}

.nc-entryEditor-toolbar-publishButton {
  background-color: var(--colorTeal);
}

.nc-entryEditor-toolbar-statusButton {
  background-color: var(--colorTealLight);
  color: var(--colorTeal);
}

.nc-entryEditor-toolbar-backSection {
  border-right-width: 1px;
  font-weight: normal;
  padding: 0 20px;

  &:hover,
  &:focus {
    background-color: #F1F2F4;
  }
}

.nc-entryEditor-toolbar-metaSection {
  border-left-width: 1px;
  padding: 0 7px;
}

.nc-entryEditor-toolbar-backArrow {
  color: var(--colorTextLead);
  font-size: 21px;
  font-weight: 600;
  margin-right: 16px;
}

.nc-entryEditor-toolbar-backCollection {
  color: var(--colorTextLead);
  font-size: 14px;
}

.nc-entryEditor-toolbar-backStatus {
  @apply(--textBadgeSuccess);

  &::after {
    height: 12px;
    width: 15.5px;
    color: #005614;
    margin-left: 5px;

    position: relative;
    top: 1px;

    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='15' height='11'><path fill='#005614' fill-rule='nonzero' d='M4.016 11l-.648-.946a6.202 6.202 0 0 0-.157-.22 9.526 9.526 0 0 1-.096-.133l-.511-.7a7.413 7.413 0 0 0-.162-.214l-.102-.134-.265-.346a26.903 26.903 0 0 0-.543-.687l-.11-.136c-.143-.179-.291-.363-.442-.54l-.278-.332a8.854 8.854 0 0 0-.192-.225L.417 6.28l-.283-.324L0 5.805l1.376-1.602c.04.027.186.132.186.132l.377.272.129.095c.08.058.16.115.237.175l.37.28c.192.142.382.292.565.436l.162.126c.27.21.503.398.714.574l.477.393c.078.064.156.127.23.194l.433.375.171-.205A50.865 50.865 0 0 1 8.18 4.023a35.163 35.163 0 0 1 2.382-2.213c.207-.174.42-.349.635-.518l.328-.255.333-.245c.072-.055.146-.107.221-.159l.117-.083c.11-.077.225-.155.341-.23.163-.11.334-.217.503-.32l1.158 1.74a11.908 11.908 0 0 0-.64.55l-.065.06c-.07.062-.139.125-.207.192l-.258.249-.26.265c-.173.176-.345.357-.512.539a32.626 32.626 0 0 0-1.915 2.313 52.115 52.115 0 0 0-2.572 3.746l-.392.642-.19.322-.233.382H4.016z'/></svg>");
  }

}

.nc-entryEditor-toolbar-backStatus-hasChanged {
  @apply(--textBadgeDanger);
}

.nc-entryEditor-toolbar-backStatus,
.nc-entryEditor-toolbar-backStatus-hasChanged {
  margin-top: 6px;
}

.nc-entryEditor-toolbar-deleteButton,
.nc-entryEditor-toolbar-saveButton {
  @apply(--buttonDefault);
  display: block;
  margin: var(--editorToolbarButtonMargin);
}

.nc-entryEditor-toolbar-deleteButton {
  @apply(--buttonLightRed);
}

.nc-entryEditor-toolbar-saveButton {
  @apply(--buttonLightBlue);
}

.nc-entryEditor-toolbar-statusPublished {
  margin: var(--editorToolbarButtonMargin);
  border: 1px solid var(--textFieldBorderColor);
  border-radius: var(--borderRadius);
  background-color: var(--colorWhite);
  color: var(--colorTeal);
  padding: 0 24px;
  line-height: 36px;
  cursor: default;
  font-size: 14px;
  font-weight: 500;
}

.nc-entryEditor-toolbar-statusMenu-status .nc-icon {
  color: var(--colorInfoText);
}
