<label>{{widget.label}}</label>

{{#cms-list widget=widget as |item|}}
  {{#each widget in item.widgets}}
  <div {{bind-attr class=":widget widget.dirtyAndInvalid:cms-invalid"}}>
    <div class="form-control">
      {{cms-widget-control widget=widget}}
    </div>
  </div>
  {{/each}}
{{/cms-list}}