<ul class="cms-list-preview">
{{#each item in field.value}}
  <li class="cms-list-item-preview widget">
  {{#each field in item.fields}}
    {{cms-widget-preview field=field}}
  {{/each}}
  </li>
{{/each}}
</ul>