.ncms-toolbarComponentsMenu-root {
  display: inline-block;
  position: relative;
}

.ncms-toolbarComponentsMenu-menuItem {
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;

  & span {
    font-size: 14px;
  }
}
