.nc-toolbarButton-button {
  display: inline-block;
  padding: 8px;
  border: none;
  background-color: transparent;
  color: var(--controlLabelColor);
  font-size: 16px;
  cursor: pointer;

  &:disabled {
    cursor: auto;
    opacity: 0.5;
  }

  & .nc-icon {
    display: block;
  }
}

.nc-toolbarButton-active {
  background-color: var(--highlightFGAltColor);
}
