.nc-toolbar-Toolbar {
  z-index: 0;
  background-color: var(--textFieldBorderColor);
  border-top-right-radius: var(--borderRadius);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background-color: inherit;
    position: absolute;
    bottom: -6px;
    left: 0;
  }
}

.nc-visualEditor-editorControlBarSticky .nc-toolbar-Toolbar {
  border-top-right-radius: 0;
}

.nc-markdownWidget-toolbar-markdownToggle {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.nc-markdownWidget-toolbar-markdownToggle-switch {
  margin: 0 12px;
}

.nc-markdownWidget-toolbar-markdownToggle-label {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.nc-markdownWidget-toolbar-markdownToggle-label-active {
  font-weight: 600;
  color: #3a69c7;
}
