.nc-toolbar-Toolbar {
  background-color: var(--textFieldBorderColor);
  border-top-right-radius: var(--borderRadius);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 14px;
  transition: background-color var(--transition), color var(--transition);
}

.nc-objectControl-root {
  & .nc-toolbar-Toolbar {
    border-top-left-radius: var(--borderRadius);
  }
}

.nc-visualEditor-editorControlBarSticky .nc-toolbar-Toolbar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nc-markdownWidget-toolbar-markdownToggle {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.nc-markdownWidget-toolbar-markdownToggle-switch {
  margin: 0 12px;
}

.nc-markdownWidget-toolbar-markdownToggle-label {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.nc-markdownWidget-toolbar-markdownToggle-label-active {
  font-weight: 600;
  color: #3a69c7;
}

.nc-controlPane-control-markdown:focus-within {
  & .nc-toolbar-Toolbar {
    background-color: var(--primaryColor);
    color: #fff;
  }

  & .nc-markdownWidget-toolbar-markdownToggle-label {
    color: #fff;
  }

  & .nc-toggle-background {
    background-color: var(--textFieldBorderColor);
  }
}

.nc-toolbar-dropdown {
  display: inline-block;
  position: relative;
}
