@import '../../../../UI/theme.css';

.nc-toolbarButton-button {
  display: inline-block;
  padding: 6px;
  border: none;
  background-color: transparent;

  .nc-toolbarButton-:not(:disabled) {
    cursor: pointer;
  }
}

.nc-toolbarButton-active {
  background-color: var(--highlightFGAltColor);
}
