@import "../../../../UI/theme";

.button {
  display: inline-block;
  padding: 6px;
  border: none;
  background-color: transparent;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.active {
  background-color: var(--highlightFGAltColor);
}
