@import "./Sidebar.css";
@import "./Top.css";

.nc-collectionPage-container {
  grid-area: main;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto auto;
  grid-gap: 28px;
  grid-template-areas:
    "sidebar top"
    "sidebar main";
  margin: 0 18px;
}
