.nc-collectionPage-top {
  @apply(--card);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 682px;
  padding: 16px 20px;
  margin-bottom: 28px;
}

.nc-collectionPage-topHeading {
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0 0;
}

.nc-collectionPage-topNewButton {
  @apply(--button);
}
