@import "../theme.css";

.card {
  composes: base container rounded depth;
  overflow: hidden;
  width: 240px;
}

.card > *:not(iframe, video, img, header, footer) {
  margin-left: 10px;
  margin-right: 10px;
}

.card > *:not(iframe, video, img, header, footer):first-child {
  margin-top: 10px;
}

.card > *:not(iframe, video, img, header, footer):last-child {
  margin-bottom: 10px;
}

.card > iframe, .card > video, .card > img {
  max-width: 100%;
}
