{
  "extends": [
    "stylelint-config-recommended"
  ],
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["/^neat/"]
    }],
    "no-descending-specificity": [true, {
      "severity": "warning"
    }]
  }
}