:root {
  --fontFamilyPrimary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fontFamilyMono: 'SFMono-Regular', Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --defaultColor: #333;
  --defaultColorLight: #fff;
  --backgroundColor: #eff0f4;
  --backgroundColorShaded: #eee;
  --backgroundColorSecondary: #fff;
  --shadowColor: rgba(19, 39, 48, .24);
  --infoColor: #69c;
  --activeColor: #3a69c8;
  --secondaryColor: #798291;
  --primaryColor: #3a69c7;
  --successColor: #1c7;
  --warningColor: #fa0;
  --errorColor: #f52;
  --textColor: var(--secondaryColor);
  --textLeadColor: #313d3e;
  --textMutedColor: #8c8c8c;
  --borderRadius: 6px;
  --borderRadiusLarge: 8px;
  --topmostZindex: 99999;
  --foregroundAltColor: #fff;
  --backgroundAltColor: #fff;
  --textFieldBorderColor: #dfdfe3;
  --highlightFGColor: #fff;
  --highlightBGColor: #3ab7a5;
  --highlightFGAltColor: #eee;
  --controlLabelColor: #7a8291;
  --controlBGColor: #fff;
  --colorActionNeutral: #e8f5fe;
  --colorListItemHover: var(--colorActionNeutral);
  --colorInlineForm: var(--colorActionNeutral);
  --backgroundTertiaryColor: #fff;
  --backgroundTertiaryColorDark: color(var(--backgroundTertiaryColor) lightness(90%));
  --richTextEditorMinHeight: 300px;
  --borderWidth: 2px;
  --border: solid var(--borderWidth) var(--secondaryColor);
  --textFieldBorder: solid var(--borderWidth) var(--textFieldBorderColor);
  --buttonTextColor: #fff;
  --buttonBackgroundColor: var(--secondaryColor);
  --topBarHeight: 56px;
  --transition: .2s ease;
  --inputPadding: 16px 20px;

  --dropShadow: {
    box-shadow: 0 2px 4px 0 rgba(19, 39, 48, .12);
  }

  --dropShadowDeep: {
    box-shadow: 0 4px 12px 0 rgba(68,74,87,0.15), 0 1px 3px 0 rgba(68,74,87,0.25);
  }

  --caretDown: {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #fff;
    border-radius: 2px;
  }

  --card: {
    @apply(--dropShadow);
    border-radius: 8px;
    background-color: #fff;
  }

  --input: {
    display: block;
    width: 100%;
    padding: var(--inputPadding);
    margin: 0;
    border: var(--textFieldBorder);
    border-radius: var(--borderRadius);
    outline: 0;
    box-shadow: none;
    background-color: var(--controlBGColor);
    color: #444a57;
    transition: border-color var(--transition);
    position: relative;
    font-size: 15px;
    line-height: 1.5;

    &:focus {
      border-color: var(--primaryColor);
    }
  }

  --label: {
    display: inline-block;
    color: var(--controlLabelColor);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--textFieldBorderColor);
    border: 0;
    border-radius: 3px;
    padding: 3px 6px;
    transition: all var(--transition);
  }

  --labelledInputWrapper: {
    color: var(--textColor);

    & input,
    & textarea,
    & select {
      @apply(--input);
      border-top-left-radius: 0;
    }

    & select {
      text-indent: 14px;
      height: 58px;
    }

    & label {
      @apply(--label);
      position: relative;
      border-radius: 3px 3px 0 0;
      padding-bottom: 2px;

      /**
       * Faux outside curve into top of input
       */
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -4px;
        height: 100%;
        width: 4px;
        background-color: inherit;
      }

      &:after {
        border-bottom-left-radius: 3px;
        background-color: #fff;
      }
    }

    &:focus-within > .nc-controlPane-label {
      background-color: var(--primaryColor);
      color: #fff;
    }
  }

  --labelNested: {
    background: none;

    &:before,
    &:after {
      content: none;
    }
  }

  --inputNested: {
    border: 0;
    border-radius: 0;
    border-left: 2px solid var(--textFieldBorderColor);

    &:focus {
      border-color: var(--primaryColor);
    }
  }

  --labelledInputWrapperNested {
    & label {
      @apply(--labelNested);
    }

    & input,
    & textarea {
      @apply(--inputNested);
    }

    &:focus-within > .nc-controlPane-label {
      background-color: transparent;
      color: var(--primaryColor);
    }
  }

  --button: {
    color: var(--buttonTextColor);
    background-color: var(--buttonBackgroundColor);
    padding: 10px 30px;
    border: 0;
    border-radius: var(--borderRadius);
    cursor: pointer;
  }

  --textBadge: {
    color: #3a69c7;
    font-size: 13px;
    background-color: #e8f5fe;
    border-radius: var(--borderRadius);
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    line-height: 1;
  }

  --textBadgeSuccess: {
    @apply(--textBadge);
    color: #005614;
    background-color: #caef6f;
  }

  --textBadgeDanger: {
    @apply(--textBadge);
    color: #ff003b;
    background-color: #fbe0d7;
  }

  --loaderSize: {
    width: 2.28571429rem;
    height: 2.28571429rem;
  }
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fontFamilyPrimary);
  height: 100%;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: var(--fontFamilyPrimary);
  color: var(--textLeadColor);
  font-size: 15px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  margin: 30px auto 25px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 800;
  color: var(--textLeadColor);
}

a,
button {
  font-size: 14px;
  font-weight: 500;
}

a {
  color: var(--textColor);
}

button {
  @apply(--button);
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

.nc-theme-base {
  box-sizing: border-box;
}

.nc-theme-container {
  background-color: var(--backgroundColor);
  color: var(--defaultColor);
}

.nc-theme-rounded {
  border-radius: var(--borderRadius);
}

.nc-theme-depth {
  @apply(--dropShadow);
}
