/* Quick fix for preview pane not fully displaying in Safari */
.SplitPane .Pane {
  height: 100%;
}

.nc-entryEditor-previewToggle {
  position: absolute;
  top: 8px;
  right: 40px;
  z-index: 1000;
  opacity: 0.8;
}

.nc-entryEditor-previewToggleShow {
  right: 60px;
}

.nc-entryEditor-controlPane {
  overflow: auto;
  padding: 20px 20px 0;
  height: calc(100% - 55px);
  border-right: 1px solid var(--defaultColorLight);
  background-color: var(--backgroundColor);
}

.nc-entryEditor-previewPane {
  height: calc(100% - 55px);
}

.nc-entryEditor-blocker > * {
  pointer-events: none;
}

.nc-entryEditor-footer {
  height: 55px;
  padding: 10px 20px;
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: var(--border);
  background: var(--backgroundColor);
  text-align: right;
}

.nc-entryEditor-noPreviewEditorContainer {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

.nc-entryEditor-ProseMirror {
  border: var(--textFieldBorder);
}
