.nc-objectControl-root {
  @apply(--input);
  padding: 0 14px 14px;
}

.nc-controlPane-control-object:focus-within {
  & > .nc-controlPane-label {
    background-color: var(--textFieldBorderColor);
    color: var(--controlLabelColor);
  }
}
