.nc-objectControl-root {
  @apply(--input);

  & .nc-controlPane-control {
    & label {
      background: none;
    }

    & input,
    & textarea {
      border: 0;
      border-radius: 0;
      border-left: 2px solid var(--textFieldBorderColor);
    }
  }
}
