.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 350px;
  padding: 10px;
}

.card img {
  display: block;
  margin: auto;
  padding-bottom: 5px;
}

.errorMsg {
  color: #dd0000;
}

.message {
  font-size: 1.1em;
  margin: 20px 10px;
}

.button {
  padding: .25em 1em;
  height: auto;
}
