.nc-gitGatewayAuthenticationPage-root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nc-gitGatewayAuthenticationPage-form {
  width: 350px;
  margin-top: -80px;
  & input {
    background-color: #fff;
    border-radius: var(--borderRadius);

    font-size: 14px;
    padding: 10px 10px;
    margin-bottom: 15px;
    margin-top: 6px;
    width: 100%;
    position: relative;
    z-index: 1;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--colorBlue);
    }
  }
}

.nc-gitGatewayAuthenticationPage-button {
  @apply(--button);
  @apply(--dropShadowDeep);
  @apply(--buttonDefault);
  @apply(--buttonGray);

  padding: 0 30px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
}

.nc-gitGatewayAuthenticationPage-errorMsg {
  color: var(--colorErrorText);
}
