<div class="cms cms-sidebar-top">
  <h3 class="cms cms-sidebar-title">Entry Settings</h3>
</div>
<div class="cms cms-sidebar-content">
  {{#each meta as |widget|}}
    {{#unless widget.hidden}}
      <div class="cms cms-meta">
        <div class="cms cms-meta-control">
          <label class="cms cms-label">{{widget.label}}</label>
          {{cms-widget widget=widget type="control"}}
        </div>
      </div>
    {{/unless}}
  {{/each}}
</div>
