<div class="cms-main-panel">
  <div class="cms-panel-section">
    <div class="cms-pull-left">
      <h2 class="cms-section-title">Edit existing {{collection.label}}</h2>
      <p>{{#link-to "index"}}&#8592; Back to index{{/link-to}}</p>
    </div>
    {{#if loading_entries}}<div class="cms-loading">Loading entries</div>{{/if}}
    <ul class="cms-plain-list">
      {{#each entry in entries}}
        <li class="cms-entry">
          <h3 class="cms-entry-title">
          {{#link-to "edit" entry}}
            {{entry.title}} <small class="cms-subtitle">{{entry.cmsExcerpt}}</small>
          {{/link-to}}
          </h3>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
