<div class="cms cms-content">
  <div class="cms cms-container">
    <div class="cms cms-aside">
      <ul class="cms nav-menu">
        {{#each collection in collections}}
          <li class="cms-collection">
            {{#link-to "index.list" collection}}
              {{collection.label}}
            {{/link-to}}
            {{#if collection.create}}
              {{#link-to "create" collection}}Add{{/link-to}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    {{outlet}}
  </div>
</div>
