<div class="cms cms-content">
  <div class="cms cms-container">
    <div class="cms cms-aside cms-text">
      <ul class="cms cms-nav-menu">
        {{#each collection in collections}}
          <li class="cms-collection">
            {{#link-to "index.list" collection class="cms-aside-link"}}
              {{collection.label}}
            {{/link-to}}
            {{#if collection.create}}
              {{#link-to "create" collection class="cms-aside-new-link"}}New{{/link-to}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    {{outlet}}
  </div>
</div>
