<div class="cms cms-content">
  <div class="cms cms-container">
    <div class="cms cms-aside cms-text">
      <ul class="cms cms-nav-menu">
        {{#each collections as |collection|}}
          <li class="cms-collection">
            {{#link-to "index.list" collection class="cms-aside-link"}}
              <i class="cms cms-icon cms-icon-selector"></i>
              {{collection.label}}
            {{/link-to}}
            {{#if collection.create}}
              {{#link-to "create" collection class="cms-aside-new-link"}}
                <i class="cms cms-icon-create"></i> New
              {{/link-to}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    {{outlet}}
  </div>
</div>
