<div class="cms-main-panel">
  <div class="cms-panel-section">
    <div class="cms-pull-left">
      <h2 class="cms-section-title">CMS Login</h2>
    </div>
    <ul class="cms-plain-list">
      <li>
        <h3 class="cms-action-title">
          <a class="cms-action" {{action "login"}}>Login to your CMS</a>
        </h3>
        {{#if error}}
        <div class="cms-error">{{error}}</div>
        {{else}}
        <div>
          Once you&#39;re logged in you can add new content or edit your site.
        </div>
        {{/if}}
      </li>
    </ul>
  </div>
</div>
