name: Lint - GitHub Actions

on:
  pull_request:
    paths:
      - ".github/workflows/**"
  push:
    branches: [ "main", "master" ]
    paths:
      - ".github/workflows/**"

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Проверка YAML-файлов GitHub Actions
      - name: Run actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}   # чтобы печатать результаты в лог/PR
          actionlint_flags: "-color"                  
