name: DAST - OWASP ZAP Baseline

on:
  pull_request:
  push:
    branches: [ "main", "master" ]

jobs:
  zap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: ZAP Baseline scan (demo target, do not fail)
        uses: zaproxy/action-baseline@v0.11.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}      
          target: "https://example.com"
          fail_action: false
          cmd_options: "-a -m 0"
          allow_issue_writing: false
          artifact_name: "zapreport${{ github.run_id }}"   

