name: DAST - OWASP ZAP Baseline

on:
  pull_request:
  push:
    branches: [ "main", "master" ]

jobs:
  zap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: ZAP Baseline scan (demo target, do not fail)
        uses: zaproxy/action-baseline@v0.11.0
        with:
          # ВРЕМЕННАЯ цель, пока нет VPS (страница гарантированно доступна)
          target: "https://example.com"

          # Не проваливать job, даже если ZAP найдёт предупреждения/находки
          fail_action: false

          # Чуть более строгий, но безопасный режим: -a = сгенерировать отчет.
          # -m 0 = не считать количество алертов критерием фейла (иначе exit 2)
          cmd_options: "-a -m 0"

          # Имя артефакта без пробелов и спецсимволов
          artifact_name: "zap-report"

          # НЕ пытаться создавать GitHub Issues
          allow_issue_warnings: false
