:root {
  --defaultColor: #333;
  --defaultColorLight: #fff;
  --backgroundColor: #fff;
  --backgroundColorShaded: #eee;
  --shadowColor: rgba(19, 39, 48, .12);
  --infoColor: #69c;
  --primaryColor: #4990e2;
  --successColor: #1c7;
  --warningColor: #fa0;
  --errorColor: #f52;
  --textColor: #191919;
  --borderRadius: 4px;
  --borderRadiusLarge: 8px;
  --dropShadow: 0 2px 4px 0 rgba(19, 39, 48, .12);
  --topmostZindex: 99999;
  --foregroundAltColor: #fff;
  --backgroundAltColor: #f8f9fa;
  --textFieldBorderColor: #e7e7e7;
  --highlightFGColor: #fff;
  --highlightBGColor: #3ab7a5;
  --highlightFGAltColor: #eee;
  --controlLabelColor: #8b8b8b;
  --controlBGColor: #fff;
  --backgroundTertiaryColor: #fff;
  --backgroundTertiaryColorDark: color(var(--backgroundTertiaryColor) lightness(90%));
}

.base {
  box-sizing: border-box;
}

.container {
  background-color: var(--backgroundColor);
  color: var(--defaultColor);
}

.rounded {
  border-radius: var(--borderRadius);
}

.depth {
  box-shadow: var(--dropShadow);
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
