:root {
  --fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fontFamilyMono: 'SFMono-Regular', Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --defaultColor: #333;
  --defaultColorLight: #fff;
  --backgroundColor: #fff;
  --backgroundColorShaded: #eee;
  --shadowColor: rgba(19, 39, 48, .24);
  --infoColor: #69c;
  --primaryColor: #4990e2;
  --successColor: #1c7;
  --warningColor: #fa0;
  --errorColor: #f52;
  --textColor: #191919;
  --textMutedColor: #8c8c8c;
  --borderRadius: 4px;
  --borderRadiusLarge: 8px;
  --secondaryColor: #d9d9d9;
  --dropShadow: 0 2px 8px 0 var(--secondaryColor);
  --topmostZindex: 99999;
  --foregroundAltColor: #fff;
  --backgroundAltColor: #232528;
  --textFieldBorderColor: var(--secondaryColor);
  --highlightFGColor: #fff;
  --highlightBGColor: #3ab7a5;
  --highlightFGAltColor: #eee;
  --controlLabelColor: #8b8b8b;
  --controlBGColor: #fff;
  --backgroundTertiaryColor: #fff;
  --backgroundTertiaryColorDark: color(var(--backgroundTertiaryColor) lightness(90%));
  --richTextEditorMinHeight: 300px;
  --borderWidth: 2px;
  --border: solid var(--borderWidth) var(--secondaryColor);
  --textFieldBorder: var(--border);
  --fontFamilyPrimary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --input: {
    font-family: 'SFMono-Regular', Consolas, "Liberation Mono", Menlo, Courier, monospace;
    display: block;
    width: 100%;
    padding: 12px;
    margin: 0;
    border: var(--textFieldBorder);
    border-radius: var(--borderRadius);
    outline: 0;
    box-shadow: none;
    background-color: var(--controlBGColor);
    font-size: 16px;
    color: var(--textColor);
    transition: border-color .3s ease;

    &:focus,
    &:active {
      border-color: var(--primaryColor);
    }
  }
}

.base {
  box-sizing: border-box;
}

.container {
  background-color: var(--backgroundColor);
  color: var(--defaultColor);
}

.rounded {
  border-radius: var(--borderRadius);
}

.depth {
  box-shadow: var(--dropShadow);
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
