:root {
  --defaultColor: #333;
  --backgroundColor: #fff;
  --shadowColor: rgba(0, 0, 0, 0.117647);
  --successColor: #1c7;
  --warningColor: #fa0;
  --errorColor: #f52;
}

.base {
  box-sizing: border-box;
}

.container {
  color: var(--defaultColor);
  background-color: var(--backgroundColor);
}

.rounded {
  border-radius: 2px;
}

.depth {
  box-shadow: var(--shadowColor) 0px 1px 6px, var(--shadowColor) 0px 1px 4px;
}
