.nc-sticky-stickyContainer {
  position: relative !important;
}

.nc-sticky-sticky {
  width: 100%;
}

.nc-sticky-stickyActive:not(.stickyAtBottom) {
  position: fixed !important;
  top: 54px !important;
}

.nc-sticky-stickyAtBottom {
  position: absolute !important;
  top: auto !important;
  bottom: 30px !important;
}
