.stickyContainer {
  position: relative !important;
}

.sticky {
  width: 100%;
}

.stickyActive:not(.stickyAtBottom) {
  position: fixed !important;
  top: 54px !important;
}

.stickyAtBottom {
  position: absolute !important;
  top: auto !important;
  bottom: 30px !important;
}

